[2022-02-04 15:35] hoisie commented on #5110
Is this still an issue in 4.7.3?

On Fri, Feb 4, 2022, 4:18 AM Gergely Hegedis ***@***.***>
wrote:

[2022-02-04 17:08] akandratovich opened #7032 "ShadowParcelFileDescriptor doesn't implement adoptFd"
### Description
`ShadowParcelFileDescriptor` doesn't implement `adoptFd` method. As a result created PFD doesn't work.

### Steps to Reproduce
Sequence of `detachFd` and `adoptFd` creates unusable PFD.

[2022-02-07 16:23] Abdul96881 opened #7034 "run with code coverage always failed with 4.7.3"
### Description

Bad return type
Exception Details:
  Location:
    android/content/res/ResourcesImpl.$$robo$$android_content_res_ResourcesImpl$loadComplexColorForCookie(Landroid/content/res/Resources;Landroid/util/TypedValue;ILandroid/content/res/Resources$Theme;)Landroid/content/res/ComplexColor; @803: areturn
  Reason:
    Type 'java/lang/Object' (current frame, stack[0]) is not assignable to '

[2022-02-07 18:03] hoisie commented on #7034
Seems to be a dupe of https://github.com/robolectric/robolectric/issues/3023, so I'll close this in favor of that.

Like I mentioned in https://github.com/robolectric/robolectric/issues/3023#issuecomment-952584425, I am unable at the moment to personally look at this issue due to the complex and time-consuming nature, so if Jacoco coverage integration is important to you, I would encourage you to

[2022-02-07 18:03] #7034 closed, assigned to nobody

[2022-02-07 18:05] hoisie commented on #7032
Would you be up for sending a PR to fix this problem?

[2022-02-07 18:07] hoisie commented on #6998
@sanisloandras to me a global scenario sounds fine, with the call to `close` in the `@After` method.

[2022-02-07 18:29] Abdul96881 commented on #3023
cant even access android resources also

[2022-02-07 19:06] utzcoz opened #7036 "Migrate ActivityTestRule to ActivityScenario for Robolectric's tests as much as possible"
### Description

Migrate deprecated `ActivityTestRule` to `ActivityScenario` for Robolectric's tests as much as possible, except `ActivityTestRuleTest` for `ActivityTestRule`. For example `EspressoTest` under inregration_tests:androidx_test and `ActivityTest` under integration_tests:ctesque.

### Steps to Reproduce

None.

### Robolectric & Android Version

Current master branch.

### Link to a pu

[2022-02-08 16:46] utzcoz commented on #6967
FYI, @wiensmit I think I will try to fix this problem this weekend.

[2022-02-08 16:50] utzcoz commented on #6363
@hoisie will this issue continue? Release notes from 4.6 are better than before with highlight big features/changes and detailed PRs, and we can add API changes based on `checkApiChange` task at next release if we can fix related problems like @kingargyle 's suggestion at https://github.com/robolectric/robolectric/issues/6363#issuecomment-823594898.

[2022-02-08 16:54] utzcoz commented on #6363
@kingargyle As you know, @hoisie has released multiple versions last year, and Robolectric is trying to release new version more often and convenient by improving CI and related scripts.

[2022-02-08 17:09] utzcoz commented on #6361
After simple searching with Google Search, I don't find a small library to do similar thing purely. And Robolectric's `ReflectionHelper` has a top search result position for reflection helper.

I also found some shadow classes use it, e.g. `ShadowUsbManager`.

@lwasyl could you help to provide a minimal app with Robolectric 4.7.3 to reproduce this problem? We can use `--illegal-access=warn` to che

[2022-02-08 17:12] utzcoz commented on #6333
Hi @hoisie , is this API used widely? I found it is used by Chromium and AOSP. After about a year, I prefer to keep it because it is very useful for system level apps.

[2022-02-08 17:14] utzcoz commented on #6331
@matpag you can try https://github.com/robolectric/robolectric/issues/6331#issuecomment-874938497 to set null for `NfcManager` without `ShadowApplication#setSystemService`. Feel free to reopen this issue if you have any problem.

[2022-02-08 17:14] #6331 closed

[2022-02-08 17:21] utzcoz commented on #6060
@victorkifer if you can reproduce this problem currently, you can attach your reproduce project to here, and reopen this issue for continuous discussion.

[2022-02-08 17:21] #6060 closed

[2022-02-08 17:24] utzcoz commented on #6041
@ZakTaccardi what about trying @hoisie provided solutions at https://github.com/robolectric/robolectric/issues/6041#issuecomment-721871103? Feel free to reopen this issue if you have any problem.

[2022-02-08 17:38] utzcoz commented on #5446
@seadowg could you help to test it on 4.7.3 again? There are some improvements about `ShadowBitmapFactory` after 4.3.1.

[2022-02-08 17:47] kingargyle commented on #6363
I think we can close this issue out unless you want to keep it open @utzcoz

[2022-02-08 18:00] utzcoz commented on #5358
Maybe we can enforce HTTPS for robolectric.org firstly by following https://docs.github.com/en/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https. /cc @hoisie .

[2022-02-08 20:18] hoisie commented on #5358
That does not seem possible at the moment :(

We need to update the DNS settings, but I believe the domain is owned by Pivotal, which is now part of VMWare.

![image](https://user-images.githubusercontent.com/125547/153068628-f97e9bbd-661b-4752-b30d-aa2321906215.png)

I can try reaching out to someone there.

[2022-02-09 13:39] utzcoz commented on #5446
`BitmapFactory.decodeFile` will add `path` to `ShadowBitmap#createdFromPath`, looks like it works fine. When we use `ImageView#setImageBitmap`, it will create [`BitmapDrawable` with input `Bitmap` for `ImageView`](https://cs.android.com/android/platform/superproject/+/master:frameworks/base/core/java/android/widget/ImageView.java;l=757-768?q=ImageView.java&ss=android%2Fplatform%2Fsuperproject). In

[2022-02-09 14:12] seadowg opened #7041 "Does `ActivityController#close()` need to be called to prevent leaks?"
A [commit from a few months ago](https://github.com/robolectric/robolectric/commit/feaded1a56ba818ecc1f580f862f4f40c95b3627) adds a `close()` method to `ActivityController`. My assumption based on the docs/commit message here is that without calling this (or using `try-with-resource`), the underlying `Activity` object (and potentially other resources) will be leaked and not be reclaimed by GC whil

[2022-02-09 14:50] utzcoz commented on #7041
It's better to call `close()` after test. There are some related issues: https://github.com/robolectric/robolectric/issues/6998, https://github.com/robolectric/robolectric/issues/6262. Other folks have reported memory leak for other items when not closed after test.

[2022-02-09 14:53] utzcoz commented on #6262
@vn01971 The latest `fragment-testing` version is [1.4.1](https://developer.android.com/jetpack/androidx/releases/fragment), what about giving a try?

[2022-02-09 15:08] seadowg commented on #7041
@utzcoz makes sense I'm happy to create a PR for [robolectric.github.io](https://github.com/robolectric/robolectric.github.io) if that's still considered the best place for docs.

Out of interest is the need for `close()` a "recent" (since AndroidX Test compatibility was introduced) change or is it something existing that just hadn't been discovered as a problem?

[2022-02-09 15:17] utzcoz commented on #6998
@sanisloandras you can try to call `close` after test(see https://github.com/robolectric/robolectric/issues/6998#issuecomment-1020106854 and https://github.com/robolectric/robolectric/issues/6998#issuecomment-1031762639). Feel free to reopen this issue if you have any problem.

[2022-02-09 15:18] #6262 closed

[2022-02-09 15:20] utzcoz commented on #7041
Thanks. I think it's better to point out this practice for users. What about writing a post about it? Adding this practice at tutorial page is also fine. @hoisie what do you think about it?

Sorry, I don't have enough context about it. `*Scenario` from androidx.test are related to your said compatibility problem. Looks like `ActivityController` is created by Robolectric itself. Maybe @hoisie could

[2022-02-09 15:45] seadowg commented on #7041
@hoisie Seems like that makes sense! I guess there the "leak" is really caused by something in the Activity that needs clean up through the lifecycle (like a listener on a singleton for example) - Robolectric itself isn't holding onto any references it shouldn't be. Is that the case for `AcitivityScenario` as well?

[2022-02-09 16:48] utzcoz commented on #7041
Another thing found about `FragmentScenario`: there doesn't exist `FragmentScenarioRule` likes `ActivityScenarioRule` to close `FragmentScenario` after test.

[2022-02-10 01:36] romkal opened #7048 "Android started to use WeakReference.refersTo() in T and it breaks Robolectric"
### Description
In https://cs.android.com/android/_/android/platform/frameworks/base/+/3492061b6de0de3ad0cdb7f40d41ffd0f51a28a2 Android changed some code to use [WeakReference.refersTo()](https://cs.android.com/android/platform/superproject/+/master:libcore/ojluni/src/main/java/java/lang/ref/Reference.java;l=126;drc=ff15772f3de82c6a439fe1bed6df0e4605b6002e) method that is non-standard and doesn't

[2022-02-10 08:17] hoisie commented on #7048
We can fix this using an AndroidInterceptor, but what should the implementation of refersTo be when using Java < 16?

Is `WeakReference.refersTo(obj)` equivalent to `Objects.equal(WeakReference.get()`, obj)?

[2022-02-10 09:08] utzcoz commented on #7048
There is an occasion that object's `equals` returns true, but different instance maybe have different result between two methods.

[2022-02-10 09:20] utzcoz commented on #7048
I found related changes at https://github.com/openjdk/jdk/commit/6023f6b1bf99de413e78c6373674649cbd68fae8#diff-e3ca3ae9699a1a2395f20c60a6c199d4c0eed1545477794f36d194f5643f071dR328-R338. @hoisie As @hboehm said, maybe we can use `obj == WeakReference.get()` as a fallback to ignore potential memory leak.

[2022-02-10 11:42] seadowg commented on #7041
Thanks for the clarifications! So does everyone agree that adding `close()` to the docs at https://robolectric.org is the best way to resolve this issue/discussion? To be honest, it looks like http://robolectric.org/writing-a-test/ could do with an update anyway. I've already filed an issue to update the Android docs around `ActivityScenario` (https://issuetracker.google.com/issues/213412583).

[2022-02-10 12:00] utzcoz commented on #7041
@seadowg could you help to update example in `README.md` of this repo too? Migrating to use `ActivityScenario` instead of `Robolectric.setupActivity` with proper `close()` invocation.

[2022-02-11 02:30] hoisie commented on #7048
You're right it should be `obj == WeakReference.get()` to check physical equality.

[2022-02-11 16:49] hboehm commented on #7048
Note that this only works for WeakReference (and SoftReference, which should be avoided on Android). Unless you know exactly where the calls are coming from, you may want to check that this is not being invoked on a PhantomReference. I haven't encountered a great use case for PhantomReference.refersTo(), but the OpenJDK folks seem to have something in mind.

[2022-02-12 14:19] utzcoz commented on #7048
@hoisie I found a related AOSP CL(https://android-review.googlesource.com/c/platform/frameworks/base/+/1971039) for this problem. I think Robolectric on GitHub will not support it because the lack of Android T supporting(looks like it will be release at June officially). What about fixing it internal at AOSP's robolectric-shadow(I only found this related repo), and keep it internal without syncing

[2022-02-12 21:35] hoisie commented on #7048
Hi @utzcoz

Interesting find, thanks. I commented on that CL. There actually was a fix to robolectric-shadows but not sure if it was CPd to aosp yet. I can try to do that.

[2022-02-13 05:57] utzcoz commented on #7048
Does it existed in internal branch? I have saw delayed sync of robolectric-shadows before at https://android-review.googlesource.com/c/platform/external/robolectric-shadows/+/1512632 that caused AOSP master tests broken(https://android-review.googlesource.com/c/platform/frameworks/base/+/1491416). From your comments at Gerrit, I know Robolectric tests are omitted for AOSP master, what about enabli

[2022-02-13 14:19] seadowg commented on #7041
As far as I understand, `ActivityScenario` (and the rules) don't work "out of the box" with Robolectric - you also need to add the AndroidX Test dependencies. Maybe another update that's needed is to make it very clear in the `README` and in the docs that developers should depend on AndroidX Test instead and only use Robolectric if they really need to? That's my assumption of the direction this is

[2022-02-14 11:44] seadowg commented on #7041
That would be great. As I said, my assumption is that the long term goal is for Robolectric to go more and more "under the covers" and have developers interact with AndroidX Test as much as possible. Other than the deprecations on `Robolectric` I don't think this intention is really stated anywhere, and the testing team weren't explicitly aiming for that last time I spoke to them at the last Dev S

[2022-02-14 11:54] alwa opened #7055 "Having multiple (many) Jetpack Compose tests causes android.support.test.espresso.AppNotIdleException for some tests"
### Description
When using different effects, such as `DisposableEffect` or `LaunchedEffect`, declared in a composable to be tested I have noticed erratic behavior by Robolectric. I also see issues for some tests even without use of effects, but removing the effects made some of my tests pass at least.

The tests may run fine locally (Windows) but fail in Gitlab (android.support.test.espresso.AppN

[2022-02-15 19:20] alwa commented on #7055
It's possible, or even likely, that there is another root cause for these problems.
For example this test fails as well (on line with last assertion):

[code]

Prod code:

[code]

[2022-02-16 13:07] utzcoz commented on #1615
@aballano Thanks for pointing out that this problem is fixed by https://github.com/robolectric/robolectric/pull/703. @martijndebruijn Feel free to reopen it if latest Robolectric doesn't fix this problem.

[2022-02-16 13:07] #1615 closed

[2022-02-17 08:28] ZSmallX opened #7069 "Need declare prerequisites in contributing guidelines for building and testing"
### Description

Building and running test well on my MacBook, but with compile error on my Linux Debian 9.

I follow the commands in `tests.yml` file.

For MacOS:
[code]

For Linux:
[code]

Build & Testing:

[code]

### Steps to Reproduce

#### Envs

LInux Debain 9
cmake == 3.7.2
ninja == 1.7.2
gcc == 6.3.0
JDK 11

MacOS Monterey  12.1 (21C52)
cmake == 3.22.2
ninja == 1.10.2
gcc == 12.0.0
JDK 11

[2022-02-17 08:29] ZSmallX commented on #7069
Shall we make those sofeware prerequisites more clear for

[2022-02-18 00:30] hoisie commented on #7069
This sounds great, it can even go in the Readme.md. We also try to give informative errors if people try to build without these modules installed. I know that currently if 'ninja' is not installed, it will not give a good error message.

[2022-02-19 11:11] utzcoz commented on #7069
Maybe off-topic: we can improve developer/contributor documentation at README.md firstly, and discuss whether we should improve robolectrico.org too after that.

[2022-02-19 14:10] utzcoz commented on #7041
I remember one occasion that uses `ActivityController` directly: old AOSP's system apps use Robolectric bound into AOSP build system to write local tests, and developers should use `ActivityController` for Activity related tests because this Robolectric is old(4.x was added about two years ago https://android.googlesource.com/platform/prebuilts/misc/+/08160cfa80b16a8602dc62c376818afb7b766353). For

[2022-02-19 17:50] ephemient commented on #2637
@hoisie That works for `ExternalResource` rules, which have `before()` and `after()` methods (as long as you call them reflectively, since they aren't public). But it doesn't work for other types of rules, which are generally defined as wrapping `Statement` - there's no way to run just the before or after step independently.

[2022-02-19 22:13] #7069 closed

[2022-02-20 15:16] hoisie commented on #2637
For this issue we would greatly appreciate someone investigating and sending a pull request to fix it. The one nuance with this issue is ensuring that a Robolectric sandbox is attached before executing and ClassRule, otherwise anything in the class rule that references Android classes will see that `Stub!` exception. This is why it may be tough to have the ClassRule be a separate wrapper from Sand

[2022-02-21 22:21] PauloLinhares09 commented on #5804
I have the sabe bug:

java.lang.NoClassDefFoundError: Could not initialize class org.bouncycastle.jce.provider.BouncyCastleProvider
	at org.robolectric.android.internal.AndroidTestEnvironment.setUpApplicationState...

---------
Im using jdk 11,
Robolectric: 4.7.3

Somebody can help ?

[2022-02-21 22:45] hoisie commented on #5804
@PauloLinhares09 that is not the same stack trace as this issue. Please file a new issue with clear repro instructions.

[2022-02-22 07:50] alwa commented on #7055
It seems like the culprit is:

[code]

Replacing it with only

[code]

seems to work better

[2022-02-22 16:18] hoisie commented on #7055
Have you also tried:

[ShadowLooper .runUiThreadTasksIncludingDelayedTasks](https://source.corp.google.com/piper///depot/google3/third_party/java_src/robolectric/shadows/framework/src/main/java/org/robolectric/shadows/ShadowLooper.java;bpv=1;bpt=1;l=199?q=shadowlooper&sq=package:piper%20file:%2F%2Fdepot%2Fgoogle3%20-file:google3%2Fexperimental&gsn=runUiThreadTasksIncludingDelayedTasks&gs=KYTHE%3A%

[2022-02-22 18:08] alwa commented on #7055
Hmm, according to javadoc it should default to LooperMode.Mode.PAUSED, which is weird as it is the same value that was not working well for me. On the other hand I still see this exception sometimes even without @LooperMode set.
So this is still a mystery.

[2022-02-22 18:09] alwa commented on #7055
I'm pretty sure I have tried that as well

[2022-02-22 20:12] hoisie commented on #7055
Sounds like a race condition. Maybe compose effects are occurring on a background thread, and it's possible that the result are seeing non-deterministic given that some processing is being done in a separate thread.

@jfresen do you have any thoughts on why this may be happening?

[2022-02-22 20:42] alwa commented on #7055
I have seen this behavior even when testing composables without effects, but having effects in the composable will definitely cause the issue

[2022-02-23 08:50] hoisie commented on #7055
Do you have a sample app that demonstrates the problem? Is there a stack trace that you're seeing? I am unfortunately not too experienced with Compose, but I can try to ping someone from the Compose team to take a closer.

[2022-02-23 11:21] jfresen commented on #7055
Compose effects are fully controlled by the MainTestClock, so there should be no possibility for a race there.

What is the failure message / stacktrace that you see here? setContent performs an initial composition immediately (subject to attached to window), so I'm keen to know where it fails

[2022-02-23 13:30] seadowg commented on #7041
@hoisie do my assumptions all sound correct?

[2022-02-23 19:01] hoisie commented on #7041
cc @brettchabot

Just to be clear is this conversation now about updating the home page `http://robolectric.org/` and `http://robolectric.org/writing-a-test/` to clarify the use of AndroidX Test?

Yeah, ActivityScenario is a separate library, it is not part of Robolectric itself. AndroidX Test is a compatibility layer that can work in both emulator and Robolectric environments. I like to think of

[2022-02-23 19:25] alwa commented on #7055
[code]

[2022-02-23 19:37] jfresen commented on #7055
I see. That could be an indication that you have a self-invalidating loop somewhere in your code. Could you try and add an apply observer to your test like in the below gist to find out if there are state variables that are continuously written?

https://gist.github.com/jfresen/44f3838fbd00e3c4342c7be4c9a4e6f7

[2022-02-23 20:29] alwa commented on #7055
I slightly modified the snippet above to print everything to standard err. Here is the output from one of the failing tests.
To me, after a quick look, it's not clear if this indicates that something is wrong with the composable...

[code]

[2022-02-24 01:25] hoisie commented on #7055
@alwa Would it be possible to create a small sample app on GitHub that repros this problem? I don't have much context into these compose stack traces so that would be super helpful to poke around this issue.

[2022-02-24 05:11] utzcoz commented on #5428
@carstenhag Thanks. If anyone has similar problem, you can comment it at https://github.com/robolectric/robolectric/issues/3023. Feel free to reopen it if it has different root cause.

[2022-02-24 05:11] #5428 closed

[2022-02-24 05:15] utzcoz commented on #3023
One update maybe related to this problem: https://androidstudio.googleblog.com/2022/02/android-studio-bumblebee-202111-patch-2.html Android Studio BumbleBee 202111 Patch2 released with some test coverage related fixes.

1. [Issue #213534628](https://buganizer.corp.google.com/issues/213534628): Android Gradle Plugin 7.1.0-rc01 fails to perform ASM bytecode transformation during unit tests
2. [Issue

[2022-02-24 07:43] alwa commented on #7055
I'll see what I can do. Seems like the issues only happen when multiple tests are run in parallell - which could make it tricky. But if I succeed in isolating the failure into smaller pieces of code I'll see if I can make a sample project.

[2022-02-24 09:27] seadowg commented on #7041
Thanks for this @hoisie. It's really useful to get clarification on all of this, even if it's that there is still uncertainty around the direction. Given this I think it's better to update the docs on `http://robolectric.org/` with references to using `close` with `ActivityController` rather than replacing examples with `ActivityScenario`. Only slightly related, but I also think it would be good t

[2022-02-24 16:09] ZSmallX commented on #5076
I added a PR https://github.com/robolectric/robolectric/pull/7086 to add tests to verify this question.

This issue can be solved by upgrading software infra ( can be seen in PR).

@jameswald Could you please help checking if it's still an issue?

[2022-02-24 16:30] jameswald commented on #5076
I don't have access to the original project for testing but I recall the updates solving the reported issue. The tests you added appear to cover this scenario so this issue can be closed by that. Thanks for writing those!

[2022-02-24 16:32] jameswald commented on #5076
Closes #5076

[2022-02-25 01:11] ZSmallX commented on #3688
I added a PR https://github.com/robolectric/robolectric/pull/7086 to add tests to verify this question.

This issue can be solved by upgrading software infra ( can be seen in PR).

@matejdro Could you please help checking if it's still an issue?

[2022-02-25 01:23] Tarek-Bohdima commented on #4776
JDK version: 11.0.11 (Android Studio default JDK)
I am using this on the test class:
`@RunWith(AndroidJUnit4::class)
@Config(sdk = [28]) // https://github.com/robolectric/robolectric/pull/6776
class TasksViewModelTest {`

so i get this , after the test pass:

[code]

[2022-02-25 01:24] J16053 commented on #2533
This is now a really old issue, but I'm also stumped on how to replicate an external broadcast for testing. @mtrewartha's solution sounds like it works for viewing broadcasts from other apps, but how do you emulate sending a broadcast from a different app?

[2022-02-25 03:50] utzcoz commented on #3688
Duplicate it to https://github.com/robolectric/robolectric/issues/5076. Feel free to reopen it if this problem has different root cause.

[2022-02-25 03:50] #3688 closed

[2022-02-25 06:07] matejdro commented on #3688
Sorry I do not use neither robolectric or mockito anymore, so I cannot check.

[2022-02-25 06:34] utzcoz commented on #3688
Thanks for your reply. It's sad to hear that Robolectric will not work for you.

[2022-02-25 10:33] kevinetore commented on #1518
@LoredanaZdranc , @mlilienberg Were you able to find a solution to the error above?

[2022-02-26 03:54] utzcoz commented on #5105
Duplicate this issue to https://github.com/robolectric/robolectric/issues/5597,  because it has more discussion. Feel free to reopen it if you think this issue has different root cause.

[2022-02-26 03:54] #5105 closed

[2022-02-27 22:17] SUPERCILEX commented on #5407
Closing old issues.

[2022-02-27 22:17] #5407 closed

[2022-03-01 07:07] #5076 closed

[2022-03-01 18:47] hoisie commented on #3023
Is there a way to configure the Jacoco agent to exclude instrumenting certain packages? For instance, there is really no benefit for Jacoco to instrument the `android.*` classes, because there is no purpose to get code coverage for these. Although this wouldn't fix the issue of Robolectric instrumentation clashing with Jacoco, it'll at least work around the problem, and likely even improve perform

[2022-03-01 18:53] hoisie commented on #3023
Looks like if there is a resource file `jacoco-agent.properties`, you can potentially configure the agent to avoid instrumenting the Android classes:

https://groups.google.com/g/jacoco/c/vx0g_6TKY8Q
https://github.com/Godin/jacoco-experiments/blob/android/android/app.tests/src/main/resources/jacoco-agent.properties
https://www.eclemma.org/jacoco/trunk/doc/agent.html

I am not sure if this support

[2022-03-02 16:18] jfresen commented on #7055
Hi, apologies for replying late. I don't see any obvious repeating pattern in the mutated state, so it looks like there's no self-invalidating loop - at least not state-wise.

Is it possible to add timestamps? I'm curious to know where the 60 seconds are spent.

You could try logging all activity on the main looper to see if it's busy looping, by using `Looper.setMessageLogging(Printer)`. Here tim

[2022-03-03 04:04] ZSmallX commented on #7032
I'm interested in this issue, and willing to send a PR to fix it in my spare time. Is @akandratovich or anyone solving this? @hoisie @utzcoz Could you please assign it to me if no one is working on this? BTW, it will be better to provide some hint points for implementation cause I'm still a young fresh right now. :)

[2022-03-03 04:38] utzcoz commented on #7032
@ZSmallX feel free to take this PR. I think @akandratovich is busy to response.

[2022-03-03 06:13] ruoyangryan opened #7095 "How to avoid compile errors when using old version SDKs?"
### Description

I've recently known about Robolectric and it really helps me a lot on Android TDD. But here's a minor problem I found when I tried to update to latest dependency (4.7): our company forced that all projects should base on Android API 28, so when I use Robolectric 4.7's shadowOf() method, it tried to import some classes that did not exist in API 28. Specifically, the class contains

[2022-03-03 06:32] ruoyangryan commented on #7095
Another question is, I saw on the official website that robolectric has a chrome extension to show its API in Android API webpages. But when I tried to download that extension, I kept getting 404 error message. Is this extension still available?

[2022-03-03 14:28] fhsiao opened #7096 "Registered LocalBroadcastReceiver not receiving intents after upgrading to robolectric 4.5.1 (4.4.1 and above) from 4.3.1"
### Description
Upgrading robolectric from 4.3.1 to 4.5.1 (also tested 4.4.1 and above) , LocalBroadcastReceiver registered receiver no longer receives intents when running test cases. On a physical phone, the intents were received.

**Code:**
`public class MyActivity extends Activity {

    Button mClickMeButton;
    TextView mHelloWorldTextView;

    @Override
    protected void onCreate(Bundle

[2022-03-03 14:50] utzcoz commented on #7095
Very happy to know Robolectric can help you practice Android TDD.

I don't think you can use API doesn't exist on your used SDK level. Robolectric will restrict API SDK scope based on real SDK definition. I don't know whether you can specific SDK for your tests with API/SDK level 29/30/31 to use this API if your project target SDK keeps to 28. What about giving a try(IMO, maybe not work)?

Latest

[2022-03-03 14:54] utzcoz commented on #7096
Hi @fhsiao , could you help to test it on 4.7.3? The 4.5.1 is old now. If 4.7.3 also has this problem, you can attach a reproduce-app by following https://github.com/robolectric/robolectric/wiki/How-to-Report-Issues, and we can analyze this problem based on your provided sample.

[2022-03-03 15:13] ruoyangryan commented on #7095
Hi, @utzcoz thanks a lot for your reply. What made me curious was that, I was not trying to use the API that had an compilation error (the Font class). I was just trying to use shadowOf(Application) method to make a shadow application to test whether my code could bind the service of it. All the robolectric and Android API I used was no later than Android API 28.

The problem was, the class Shadow

[2022-03-03 15:17] ruoyangryan commented on #7095
Oops, I suddenly found that this question is pretty dumb...I can use SDK 31 in Android Studio and just let gradle to force my project to compile on sdk 28 right?

[2022-03-03 15:27] utzcoz commented on #7095
Looks like it is related to Robolectric implementation compatibility problem . Could you provide a minial reproduce sample ?

[2022-03-03 15:41] fhsiao commented on #7096
Hi @utzcoz , I have tried 4.7.3 and the results are the same (observed in 4.4.1 and above). The issue should be reproducible by using the sample app linked above.
One thing noticed is that "Robolectric currently supports APIs: 16, 17, 18, 19 and 21" but my app has to use minSdkVersion 29. Would that be an issue?

[2022-03-03 21:41] hoisie commented on #7095
We could update ShadowFont to turn off shadowOf generation (e.g. using `isInAndroidSdk=false`) to fix this. There are no shadow APIs here.

https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowFont.java

Can you set `compileSdkVersion=31` in your test? That wouldn't have any impact on targetSdkVersion but I believe would fix this issu

[2022-03-04 02:18] ruoyangryan commented on #7095
@utzcoz @hoisie Thanks for your reply!

For reproducing this problem, just set SDK version as API 28 in AS, set compileSdkVersion and targetSdkVersion as 28, add dependency on Robolectric 4,7, and write a simple test using Shadow.shadowOf method to get a shadow application. Use Gradle to run the test. It will report an error during compiling.

It solved the compilation error. But weirdly, the Mock

[2022-03-05 05:51] utzcoz commented on #7095
@ruoyangryan @hoisie I will try to add a compatibility integration_test module to check this problem, and try to add `isInAndroidSdk=false` to test whether it can fix it.

[2022-03-05 13:34] utzcoz commented on #7095
@ruoyangryan I have pushed a PR(https://github.com/robolectric/robolectric/pull/7100) to test `shadowOf(applicatoin)` with SDK 28, but it looks like working fine. Could you provide an minimal app to reproduce it by following https://github.com/robolectric/robolectric/wiki/How-to-Report-Issues?

[2022-03-05 13:53] utzcoz commented on #7096
@fhsiao Looks like `LocalBroadcastReceiver` manages broadcast internally(https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-viewpager2-release/localbroadcastmanager/src/main/java/androidx/localbroadcastmanager/content/LocalBroadcastManager.java#218, https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-viewpager2-release/localbroadcastma

[2022-03-05 15:34] hoisie commented on #7095
Thanks for trying to repro this @utzcoz. Weird that the error did not repro in that example.

@ruoyangryan There is also an alternative to `shadowOf`, `Shadow.extract`, that could avoid the JVM resolution that occurs when `shadowOf` is used. It is typically interchangeable to shadowOf.

[2022-03-06 13:34] utzcoz commented on #7095
@hoisie Looks like `SandboxClassLoader` doesn't load `Font` for `compat-target28` tests, and following are classes loaded by `SandboxClassLoader` related to `Font`:

[code]

It's better if @ruoyangryan can provide an example to reproduce problem, and I can investigate into this problem deeper.

[2022-03-07 06:09] ruoyangryan commented on #7095
@utzcoz @hoisie Thanks for your work. Unfortunately all the production code I used was on my company PC and due to privacy policy I cannot use those code for reporting issue here. I will try to reproduce this problem on my personal PC after work but it might take some time since I do not have that much spare time, and I also haven't installed android development environment on my own computer. I'l

[2022-03-07 18:07] fhsiao commented on #7096
@utzcoz Thank you for the suggestions.

As mentioned, intents were received by using `sendBroadcastSync`.
However `@LooperMode(LooperMode.Mode.LEGACY)` has been deprecated.
https://github.com/robolectric/robolectric/pull/5490

Since currently we are using `sendBroadcast` and there could be implications of using the `sendBroadcastSync` instead such as the blocking natural, is there any other altern

[2022-03-08 03:12] utzcoz commented on #4576
Duplicate to https://github.com/robolectric/robolectric/issues/3023. Feel free to reopen it if you think it has different root cause.

[2022-03-08 03:12] #4576 closed

[2022-03-08 11:57] manishkummar21 commented on #5158
Anybody has updates on this?

[2022-03-08 13:52] utzcoz commented on #6920
Android 12L source code released finally. Hi @hoisie , is there any plan to land supporting for SDK 32?

[2022-03-08 13:55] utzcoz commented on #7096
@fhsiao Okay, your testing result confirmed by guess, and it is caused by new looper mode. You can follow http://robolectric.org/blog/2019/06/04/paused-looper/ to migrate your test code to work with new looper mode.

[2022-03-08 14:37] hoisie commented on #6920
Yeah it will happen very soon, I'll start a code sync today.

[2022-03-08 21:58] #7048 closed

[2022-03-09 06:41] gsnayma01 opened #7112 "Unable to access setUri method through Robolectric test runner"
Hi,

I am using ExoPlayer for my media app in AOSP code and I have used PlayerView in my layout file.

I am trying to write the Unit tests for my app but when I run the robolectric tests it gives android.view.InflateException on PlayerView.

**I am able to access the setUri method in my main code but robolectric not able to find the setUri method when I run unit tests using robolectric.**

[code]

[2022-03-09 08:38] gsnayma01 commented on #7112
@hoisie Could you please have a look into this ?

[2022-03-09 15:10] ZSmallX commented on #7112
Hi @gsnayma01 look like you're using an old version of robolectric.
Have you tried the latest version(4.7.3) of robolectric? Does it lead to the same result?

If so, could you please provide a demo project on GitHub and provide more context (like: ExoPlayer version, project configurations etc) for verification convenience.  It's good for investigation.

[2022-03-09 16:29] ZSmallX commented on #3023
@hoisie I had investigated a similar problem(coverage 0% when Jacoco works with PowerMock) before and make a HACK work-around working in my work. I think I can share the solution and code here.

Investigations:
The main reason is that both Jacoco,  most of Mock frameworks and Robolectric modified the class at runtime, and the instrumentation order is sensitive to all those tools. So generally it's

[2022-03-10 01:47] utzcoz commented on #6920
@hoisie What will Robolectric do after Android 12 QPR3 released(https://arstechnica.com/gadgets/2022/03/android-now-has-stable-beta-and-dev-channels-just-like-chrome/)? Looks like Android 12L is QPR2, and now there is a QPR3 before Android 13 released. I think Android 13 will take SDK 33, and Android 12 QPR3 will keep SD 32, is that right? If that is correct, will Robolectric update android-all an

[2022-03-10 02:35] hoisie commented on #6920
@utzcoz to be honest this is very confusing for me too. For the purposes of Robolectric I hope it doesn't matter. I am planning to pull a recent build from the sc-v2-release. At this point in the cycle, there are a relatively small number of changes going into sc-v2-release, only to fix very high priority bugs. Also many of these changes don't touch `frameworks/base`, which is the only part of the

[2022-03-10 08:07] gsnayma01 commented on #7112
Below is my Android.bp file for tests

[code]

[2022-03-10 08:09] gsnayma01 commented on #7112
I haven't try with latest version 4.7.3 as this will affect other modules tests in my AOSP workspace. I will try to share you the GitHub link with sample code

[2022-03-10 12:17] fhsiao commented on #7096
@utzcoz Thank you for looking into this issue. Its confirmed that the issue has been resolved by http://robolectric.org/blog/2019/06/04/paused-looper/ by design.

[2022-03-10 12:17] #7096 closed

[2022-03-10 13:00] utzcoz commented on #5358
Latest Chrome prevents me to view robolectric.org with https protocol on Android phone. I can visit it with http protocol. Everything works correctly on Linux's Chrome and Firefox.

[2022-03-10 13:14] utzcoz commented on #6920
@hoisie Hope so. And could you document how to build android-all and instrumented android-all jars from AOSP source code on Wiki? I also have interested in process to build those things.

[2022-03-10 13:39] utzcoz commented on #6976
@reymalahay IMO, this issue is a common problem about Robolectric samples, including Kotlin samples. We can move this discussion to https://github.com/robolectric/robolectric/discussions/7111. Feel free to reopen it if you think this issue should exist here.

[2022-03-10 13:39] #6976 closed

[2022-03-10 13:44] utzcoz commented on #6899
@kenyee Looks like it is not a Robolectric bug. Feel free to reopen it if you think there are other things we should discuss at this issue.

[2022-03-10 13:44] #6899 closed

[2022-03-10 13:48] utzcoz commented on #6769
@phil-brown IMO Robolectric can't do much for PATCH request, and sorry for that. Feel free to reopen it you think we can discuss more about it. cc /@hoisie.

[2022-03-10 13:48] #6769 closed

[2022-03-10 13:58] utzcoz commented on #6593
Anyone has this problem can upgrade Espresso to 3.5.0-alpha03(https://github.com/robolectric/robolectric/issues/6593#issuecomment-975829808) and later version(3.5.0-alpha04 is latest now) to fix this problem if you can use alpha library, or you can follow https://github.com/robolectric/robolectric/issues/6593#issuecomment-971149643 as temporary solution to fix this problem before Espresso 3.5.0 st

[2022-03-10 13:58] #6593 closed

[2022-03-10 13:59] LouisCAD commented on #5358
Can you simply ask folks at Pivotal/VMWare to hand back the domain?

[2022-03-10 14:02] utzcoz commented on #6411
@le-kamba could you help to re-test it with Robolectric 4.7.3? It introduces a native SQLite mode with better performance and more accurate behavior.

[2022-03-10 14:09] utzcoz commented on #5994
Looks like 4.6.x and later version fix this issue. Anyone has this problem can upgrade Robolectric to latest version to fix this problem. Feel free to reopen this issue if you think related patch must be ported to 4.4.x. If you find similar problem on latest Robolectric version, please file a new issue for it.

[2022-03-10 14:09] #5994 closed

[2022-03-10 14:14] utzcoz commented on #5921
Anyone encounters this problem, can follow https://github.com/robolectric/robolectric/issues/5921#issuecomment-702090597 and https://github.com/robolectric/robolectric/issues/5921#issuecomment-886829193 to fix it. Feel free to reopen it if you think we should discuss more about it.

[2022-03-10 14:14] #5921 closed

[2022-03-10 14:19] utzcoz commented on #5656
`@Config` works fine for single test method, and @dkarv provides a great example at https://github.com/robolectric/robolectric/issues/5656#issuecomment-663478274. I will close this issue because it is not a problem. Feel free to reopen it if I misunderstand something.

[2022-03-10 14:19] #5656 closed

[2022-03-10 14:20] gsnayma01 commented on #7112
@utzcoz I have a separate module called ExoPlayer (my own module in AOSP) where all the required dependencies added (source code added) like ui, core, common, dash etc and added all the related dependencies in ExoPlayer's Android.bp under tag android_library.
here library is a directory where I copied all the modules of ExoPlayer.

**ExoPlayer Module's Android.bp**
`
android_library {
    name: "e

[2022-03-10 14:21] utzcoz commented on #5438
@Mxiim could you help to re-test it with latest Robolectric 4.7.3 and AndroidX Test/Espresso?

[2022-03-10 14:45] utzcoz commented on #7112
There is one thing we can do: build `exoplayer2-whole` with command `make exoplayer2-whole`, and check whether its generated result contains your needed class(`MediaItem` with `setUri`). If it contains your needed classes, it is not your `exoplayer2-whole` problem. If not, please validate your `exoplayer2-whole` `Android.bp` again to ensure it contains correct source code list. If `exoplayer2-whol

[2022-03-10 15:19] ZSmallX commented on #3023
I added a JaCoCo integration test module and JaCoCo offline instrumentation script in #7114 and run the tests in Android Studio BumbleBee Patch 2.

Here's the verification results of JaCoCo offline instrumentation:
No Robolectric exception raised but no coverage in IDE as well, but JaCoCo execution data is available and it can be imported into IDE and get the right code coverage.

I think that JaC

[2022-03-13 14:34] #6967 closed

[2022-03-13 15:03] utzcoz opened #7129 "ShadowWindowManagerGlobalTest failed on macOS"
### Description

Run `./gradlew :robolectric:test --tests "ShadowWindowManagerGlobalTest"` and we can see following failed tests on macOS(although I run it on macOS with M1, but I don't think it is arch related):

[code]

Not only SDK 16, but also other SDKs, and above failed log is an example.

### Steps to Reproduce

`./gradlew :robolectric:test --tests "ShadowWindowManagerGlobalTest"`

### Robo

[2022-03-13 15:07] utzcoz opened #7130 "ShadowParcelFileDescriptorTest failed on macOS"
### Description

Run `./gradlew :robolectric:test --tests "ShadowParcelFileDescriptorTest"` on macOS(although I run it on macOS with M1, but I don't think it is arch related) and get following failed tests:

[code]

Not only SDK 16, but also other SDKs, and above failed log is an example.

### Steps to Reproduce

`./gradlew :robolectric:test --tests "ShadowParcelFileDescriptorTest"`

### Robolectr

[2022-03-15 20:57] nak411 commented on #6337
Any update on this?

[2022-03-15 21:29] hoisie commented on #6337
`View.post` will not work is the view is not attached to the view hierarchy. If a View is created dynamically in a test, something has to call `addView` on it. You can see this directly in the code for View.post.

@poldz123 that example should be something like:

[code]

[2022-03-16 18:40] spydyboy commented on #1518
Hi @hoisie
Greetings!
I want to explore this project Support for simulated version of Keystore APIs as part of GSoC program.
As a starter, have experience with TDD Java development.
Any tips/suggestion for the starting point of this project.
Thanks

[2022-03-17 01:46] utzcoz commented on #1518
@spydyboy could you open a discussion at GitHub Discussion to discuss GSoC 2022 about this topic/project like https://github.com/robolectric/robolectric/discussions/7128 and https://github.com/robolectric/robolectric/discussions/7127? Before contributor applying process, we can talk about this project and related to tech things about Robolectric without interrupting current issue's timeline. Thank

[2022-03-17 15:07] utzcoz commented on #6920
The PR to support SDK 32 has been merged, @hoisie will we close it after release? Or will we close it immediately? I remember you prefer to the first one.

[2022-03-17 19:22] anirudhkanathala commented on #6812
Any update on this? This issue is still present in robolectric 4.7.2

[2022-03-17 20:21] hoisie commented on #6812
@anirudhkanathala try using 4.8-SNAPSHOT. 4.8-alpha-1 will be release shortly.

[2022-03-18 06:03] hoisie commented on #6920
@utzcoz just put up https://github.com/robolectric/robolectric/wiki/Building-framework-JARs-from-platform-sources

TLDR is `m -j robolectric-host-android_all`

https://cs.android.com/android/platform/superproject/+/master:external/robolectric-shadows/Android.bp;l=112

Also https://github.com/robolectric/robolectric/wiki/Update-Preinstrumented-Jars-to-a-new-version

Let me know if you'd like any mo

[2022-03-18 10:54] utzcoz commented on #6920
@hoisie Thanks. That's enough for me.  :)

[2022-03-19 06:13] Anish528 commented on #3477
Hi @utzcoz
I would like to explore this project JUnit 5 Support as part of the GSoC program.
Any advice or tips on how to get started would really help out!
Thanks.

[2022-03-19 06:54] utzcoz commented on #3477
@Anish528 Thanks for interesting for this project. Could you create a new discussion at GitHunb Discussion as other folks did for GSoC 2022? We can talk more about it before applying proceas without breaking discussion on this issue.

[2022-03-19 08:11] TWiStErRob commented on #3477
Please link here.

[2022-03-19 08:50] utzcoz commented on #3477
There are three existing discussions about GSoC 2022 program: https://github.com/robolectric/robolectric/discussions/7141, https://github.com/robolectric/robolectric/discussions/7127 and https://github.com/robolectric/robolectric/discussions/7128.

[2022-03-19 10:29] Anish528 commented on #3477
Sure will do Thanks!

[2022-03-21 14:16] utzcoz commented on #7095
@hoisie I checked the definition of `isInAndroidSdk` and found following comment:

[code]

I also checked most usage of `isInAndroidSdk`, and the shadow classes marked with `isInAndroidSdk=false` are not existed in public Android SDK. The `Font` started to be public from SDK 29 in Android SDK, is it suitable to add `isInAndroidSdk=false` to it although it can help skip to generate `shadowOf` metho

[2022-03-21 20:00] RameshAran commented on #6000
Thanks @vinaygopinath .
`@get: Rule
    val instantExecutorRule = InstantTaskExecutorRule()`

Adding InstantTaskExecutorRule works for me.

[2022-03-22 03:28] JohnZhang1000 commented on #5348
I also got a similar issue throwing an InflateException:

[2022-03-22 03:45] JohnZhang1000 commented on #5348
I got a similar issue throwing an InflateException in xml place where I used Costumed Toolbar.
My situation is I do unit test for a project, but it's activity uesd a Costumed Toolbar, and theCostubmed Toolbar was in a jar package, and it's constructor and method was Throwing Stub Exception.
so when I onCreat the view ,the InflateException happend. any solution can dealwith this?

I Know the Costum

[2022-03-23 01:17] utzcoz commented on #6920
Hi @anthony-fresneau-kiplin, Robolectric 4.8-alpha1 has been released, and it brings supporting for SDK 32, what about trying it?

[2022-03-23 02:56] paulsowden commented on #4807
#7148 fixes the core issue here, supporting idling resources in the `LocalUiController`, which is used by `onView()` and `onIdle()`, note though that the integration is not complete, in particular:

- `IdlingPolicies` is not used by Robolectric, as this lives in Espresso core Robolectric cannot depend directly on it, so it would require an alternative structure to fully integrate
- The looper has

[2022-03-23 05:44] paulsowden commented on #4807
Marking as fixed, if necessary we can track follow up work in new issues.

[2022-03-23 05:44] #4807 closed

[2022-03-23 08:02] anthony-fresneau-kiplin commented on #6920
Hi @utzcoz  , i have just tried the 4.8-alpha1 and the support of SDK32 is OK. Thanks for the support. Will it be release soon?

[2022-03-23 13:05] utzcoz commented on #6920
@anthony-fresneau-kiplin Thanks for testing it. I think @hoisie can help to provide a detailed release timeline for 4.8.

[2022-03-23 20:27] alwa commented on #7055
I'm sorry for the late reply.

I'm not sure what code I was posting earlier but I found another affected test for a simple composable where I put different timestamps.

The code looks something like this (a bit shortened/simplified for readability):

[code]

The logs show this:
[code]

and then:
![image](https://user-images.githubusercontent.com/1206247/159789663-6aa64230-5105-4b2d-9ebf-5806151cab

[2022-03-24 07:29] riyadatik opened #7173 "Getting illegalStateException when trying to lunch an activity using robolectric"
### Descriptio: I am trying to start an activity using robolectric through intent action. But got illegalStateException. Actually I have tried with two way.

### Steps to Reproduce:
Case 1:
ActivityController<A>con;
con = Robolectric.buildActivity(A.class);
Intent intent = con.get().getIntent();
intent.setAction(xyz);
intent.putExtra("abc", 1);
con.setup();

Here A is my target activity class whic

[2022-03-24 10:22] jfresen commented on #7055
Well, you'll need to feed it a Printer

As for the timestamps, I was kinda hoping you'd replace your stderr output with logcat output.

Can you please provide a complete and minimal sample that reproduces the problem? Preferably a single test method that sets the compose content using the test rule's setContent method, so we have an isolated case.

[2022-03-24 10:29] alwa commented on #7055
Pardon my ignorance. I never use loopers or printers, any gist for this?

@jfresen Unfortunately I don't see it in the test output if it's logged to logcat. I run the tests from command line.

I can't reproduce the failure when running this test alone but this test always fails (100% reproducable) when running all tests (hundreds). So I suspect a memory leak in Robolectric/AndroidX test. So I'm af

[2022-03-24 11:48] jfresen commented on #7055
To print to logcat: `Looper.getMainLooper().setMessageLogging { line -> Log.v("TEST_TAG (or anything that helps you identify the logcat messages)", line) }`
To print to stderr: `Looper.getMainLooper().setMessageLogging(PrintStreamPrinter(System.err))`

logcat can be obtained from the command line with `adb logcat -d` after the test has run, or you can view it in Android Studio

Oh, that changes th

[2022-03-24 12:25] alwa commented on #7055
To print to stderr: Looper.getMainLooper().setMessageLogging(PrintStreamPrinter(System.err))

Thanks!

I'm afraid I couldn't make it work with logcat (I can only make it work with a connected device). It looks like this:

![image](https://user-images.githubusercontent.com/1206247/159914827-d25b8535-ebda-40bb-9320-7554cb402adf.png)

Ok, got it. I'm not sure when I will find the time to do this but

[2022-03-24 13:10] utzcoz commented on #7173
Hi @riyadatik, could you try Robolectric 4.7.3 again? If you also encounter this problem with 4.7.3, could you follow https://github.com/robolectric/robolectric/wiki/How-to-Report-Issues to provide a minimum reproduce demo for it?

[2022-03-24 14:11] utzcoz opened #7174 "Investigate gradle/gradle-build-action@v2 to improve CI speed"
### Description

I have noticed some open-source projects started to use [gradle/gradle-build-action@v2](https://github.com/gradle/gradle-build-action) to fix cache problems and speed up CI, e.g. https://github.com/detekt/detekt/pull/3723. It will be great if we can investigate whether it can help Robolectric to reduce CI time.

### Steps to Reproduce

None.

### Robolectric & Android Version

Lat

[2022-03-24 20:49] nak411 opened #7180 "Drawable comparison test failing"
### Description
I have a test that sets a drawable on an image view and then retrieves the drawable and compares its bytes with the expected drawable.  In robolectric 4.3.1 this test passed, however I'm now upgrading to robolectric 4.7.2 which is causing the test to fail.

The main issue I'm noticing is that
`myImageView.setImageResource(resId)` changes the size of the retrieved bytes when compare

[2022-03-25 05:07] hoisie commented on #7180
@nak411 can you print out the contents of those byte arrays in Robolectric 4.3? I suspect they will all be zeros.

There were massive improvements to bitmap fidelity, primarily https://github.com/robolectric/robolectric/pull/6147 by @utzcoz. I think this failure is expected behavior on real Android.

I copied this test to an emulator, and it also fails: https://gist.github.com/hoisie/bbd9d6cf9f281

[2022-03-25 05:17] hoisie commented on #7173
For case 1, maybe try using `Robolectric.buildActivity(Class<T> activityClass, Intent intent)`?

For case 2 -- in Robolectric, when `startActivity` is called, it does not actually start an activity. You can try getting the started activities by calling `Shadows.shadowOf(activity).getNextStartedActivity();`

These are just guesses though -- there are no real code samples or sample apps, and no comp

[2022-03-25 05:17] #7173 closed

[2022-03-25 05:36] hoisie commented on #7112
@gsnayma01 I wish we could help more, but unfortunately this issue tracker is not the place to receive support for the AOSP/Android framework version of Robolectric. That version of Robolectric was forked off an extremely old version of Robolectric and has evolved separately. I would make sure there aren't two versions of exoplayer in the classpath (e.g. you can try to print the classpath and see

[2022-03-25 05:36] #7112 closed

[2022-03-25 06:36] hoisie opened #7182 "Remove unnecessary/redundant public shadow APIs"
For example, ShadowCompoundButton has a getButtonDrawable method: 'https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowCompoundButton.java#L38'

This does not need to be public -- it can just be protected, and getButtonDrawable can just be called on CompoundButton.

To be honest, maybe this entire shadow does not need to exist, but f

[2022-03-25 06:45] hoisie commented on #7182
For example, ShadowCompoundButton has a `getButtonDrawable` method: 'https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowCompoundButton.java#L38'

This does not need to be `public` -- it can just be `protected`, and `getButtonDrawable` can just be called on CompoundButton.

To be honest, maybe this entire shadow does not need to exis

[2022-03-25 07:04] gsnayma01 commented on #7112
This issue was partially fixed by creating shadow class of PlayerView and by adding the shadow config to each test method in my test class.

Here is the example of ShadowPlayerView

[code]

and use shadow config for each method including setUp method like below

[code]

[2022-03-25 07:06] hoisie commented on #7182
Nevermind, I don't think this is particularly prevalent.

[2022-03-25 07:06] #7182 closed

[2022-03-25 07:13] #5986 closed

[2022-03-25 13:33] utzcoz commented on #7182
@hoisie What about renaming this issue to adding a task to identify those APIs in code base? For example, `./gradlew spotPublicShadowAPI`. It will be helpful for us to evaluate current status of public Shadow APIs, and find public Shadow APIs we should make them to protected again. I think it can be a task in annotation processor with clear rule for starter to do.

[2022-03-25 13:47] utzcoz commented on #5348
@JohnZhang1000 you can follow http://robolectric.org/extending/ to create shadow class for your custom Toolbar. IMO, it's enough to learn how to write custom shadow class.

[2022-03-25 13:51] utzcoz commented on #5348
Hi @4mr0m3r0 @goldy1992 @gmazzo could you retest it on latest 4.7.3 with `includeAndroidResource=true`? I remember Robolectric will not instrument androidx source code, and `includeAndroidResource=true` can help to integrate all your resources, and both of them maybe helpful to fix this problem.

[2022-03-25 14:08] nak411 commented on #7180
I printed out the bytes in 4.3 and they do have content in them, however the size is the same.

It seems like the call to `myImageView.setImageResource(...)` is increasing the drawable size.  The drawable from the ImageView has some extra data in it when compared with the drawable that is obtained using `context.getDrawable(...)`

I understand that the test correctly failing but I was just wonderi

[2022-03-25 14:42] utzcoz commented on #7180
@nak411 Does those two `Drawable` have the same state? The `android.R.drawable.btn_plus` is a selector drawable: https://cs.android.com/android/platform/superproject/+/master:frameworks/base/core/res/res/drawable/btn_plus.xml?q=btn_plus.xml&ss=android%2Fplatform%2Fsuperproject.

[2022-03-25 15:02] hoisie commented on #7180
@nak411 could you update that code sample to get to the point where it passes in an emulator but fails in Robolectric?

[2022-03-25 15:30] nak411 commented on #7180
@utzcoz Thank you for your input.  It seems like the issue is with the state.  The drawable has a state `enabled` when it is added to the image view but does not have any state when obtained from `context.getDrawable`.  This is causing the difference in the object size.  Using a stateless image seems to work fine.

@hoisie Greatly appreciate the help.  The robolectric behavior is consistent with a

[2022-03-25 16:18] #7180 closed

[2022-03-26 08:21] JohnZhang1000 commented on #5348
thank you very much for your advice@utzcoz. cause the custom view have five overload constructor ,I have no idea How to make the constructor in my shadow.and it contains a super() method , whitch means it need a real parents class.  I will try it.

[2022-03-26 10:13] mnlin0905 commented on #3747
@bhuva13 @PaulKlauser @lupsyn

This is how I handle it here

[code]

test code

[code]

The key code is here

[code]

Finally ensure that the test cases can cover the source code

![image](https://user-images.githubusercontent.com/17874282/160234963-95df1fe0-e2ec-4245-bd5a-8c2ee77ceeba.png)

[2022-03-26 10:17] mnlin0905 commented on #3747
@JustinTullgren

Perhaps, you can refer to this article

[Robolectric Tips: Testing RecyclerViews](https://bterczynski.medium.com/robolectric-tips-testing-recyclerviews-d6e79209a4b)

[2022-03-26 16:33] hoisie opened #7188 "Bitmap-backed canvas.drawRect fails with paint"
[code]

[2022-03-26 16:34] hoisie commented on #7188
This test passes on an emulator, but fails in Robolectric with:

[code]

[2022-03-26 16:45] hoisie opened #7189 "Include more details when a test fails and there are still tasks to run"
When a test sees the failure message `You might need a shadowOf(getMainLooper()).idle() call`, it would be nice to see a stack trace of where that task got added. That way it is easier to potentially identify race conditions that may be occurring.

To do this, it may be possible to instantiate a Throwable as a member variable whenever a task gets instantiated.

[2022-03-26 16:58] hoisie commented on #6887
Fixed by https://github.com/robolectric/robolectric/pull/6922

[2022-03-26 16:58] #6887 closed

[2022-03-26 17:03] hoisie opened #7190 "Migrate ProxyMaker to use Lookup.defineHiddenClass"
Currently [ProxyMaker](https://github.com/robolectric/robolectric/blob/master/sandbox/src/main/java/org/robolectric/internal/bytecode/ProxyMaker.java) uses Unsafe.defineAnonymousClass, which has been removed in JDK 17.

Robolectric itself does not use ProxyMaker much any more, but it is a public API, so some tests may use it.

It would be great to migrate it to Lookup.defineHiddenClass.

Guice rec

[2022-03-26 17:05] hoisie opened #7191 "Add getCurrentSyncs() in ShadowContentResolver"
getCurrentSyncs, which is a static method, is not included in the ShadowContentResolver.

[2022-03-26 17:07] hoisie opened #7192 "Add setNetworkSpecifier in ShadowNetworkCapabilities"
Some apps use NetworkCapabilities.getNetworkSpecifier to verify if a network is a particular type.

To unit test related methods, there should be the ability to set NetworkSpecifier with ShadowNetworkCapabilities.

[2022-03-26 17:12] hoisie opened #7193 "Un-deprecate ActivityController"
Robolectric's ActivityController was deprecated in favor of ActivityScenario. While we should encourage uses of ActivityScenario, there are some legitimate reasons to keep ActivityController:

* ActivityController does not require adding an Activity to the manifest, which has a lot less boilerplate.
* ActivityController is idiomatic and consistent with how other components are initialized in Robol

[2022-03-26 17:17] hoisie opened #7194 "Calling GLSurfaceView does not stop the created gl thread"
When GLSurfaceView is used, the gl thread created in GLSurfaceView does not get terminated after the test finished.

ShadowGLSurfaceView probably needs a @Resetter method that kills an existing threads? Another option is to terminate the thread in callOnDetachFromWindow, or to try to mimic the Android behavior of terminating the thread.

[2022-03-27 01:40] s-deepak-kumar commented on #7188
Please Assign It With Me.

[2022-03-27 04:17] Goooler commented on #7174
Can I send a PR?

[2022-03-27 05:22] hoisie commented on #7174
We would appreciate anything that can make the build faster 😄

I think there are more fundamental issues though. For instance build caching seems to be kind of broken (e.g. doing gradlew compile twice in a row causes things to be rebuilt). I never root caused that but it would be interesting to track those down.

[2022-03-27 05:33] Goooler commented on #7174
Addressed to #7195.

[2022-03-27 06:21] utzcoz opened #7196 "Investigate version catalogs for Robolectric"
### Description

It's great if we can enable version catalogs for Robolectric, and leverage trendiest dependency management tool likes renovate.

### Steps to Reproduce

None.

### Robolectric & Android Version

Latest Robolectric master branch.

### Link to a public git repo demonstrating the problem:

Robolectric itself.

[2022-03-27 06:22] utzcoz commented on #7196
cc @Goooler

[2022-03-27 06:30] Akshay2131 commented on #7188
@hoisie i looked into it.. As output is coming as -16777216. In binary form, -16777216=11111111 00000000 00000000 00000000
 Here, representation of bits is as: first 8-bits: Alpha, second 8-bits: Red, third 8-bits: green and last 8-bits: blue.
Here, in -16777216 RGB bits are all 0. It means it represents fully opaque black color.
for white color, RGB should be all 1.
what u think @hoisie

[2022-03-27 06:43] utzcoz commented on #7188
@Akshay2131 you can use https://docs.oracle.com/javase/7/docs/api/java/lang/Integer.html#toHexString(int) to identify different more convenient, e.g.

[code]

It represents `Bitmap-backed canvas.drawRect fails with paint`. It's recommend to see what Robolectric does to support Bitmap backed Canvas.

[2022-03-31 03:03] Evin1- commented on #7055
Had some trouble testing a suite with multiple Composables that were using a [ClickableText](https://developer.android.com/reference/kotlin/androidx/compose/foundation/text/package-summary#ClickableText(androidx.compose.ui.text.AnnotatedString,androidx.compose.ui.Modifier,androidx.compose.ui.text.TextStyle,kotlin.Boolean,androidx.compose.ui.text.style.TextOverflow,kotlin.Int,kotlin.Function1,kotli

[2022-03-31 06:41] alwa commented on #7055
Thanks for the suggestion. Looks like this setting could/should have impact. Unfortunately, in my case, I can still reproduce AppNotIdleException for tests that do this in the test setup method. As before, these same tests run successfully in isolation.

[2022-03-31 06:43] alwa commented on #7055
Note: A lot more of my compose tests break after I update these dependencies without altering any other code:

**Compose**: 1.2.0-alpha05 -> 1.2.0-alpha06
**Accompanist**: 0.24.4-alpha -> 0.24.5-alpha

Maybe this could be a clue to someone?

[2022-03-31 17:14] Umesh-01 commented on #6966
@utzcoz I want to work on this issue, if you can guide me a little bit.

[2022-04-01 01:56] utzcoz commented on #6966
The issue description is clear for what we should do. The AGP will omit target SDK in AndroidManifest.xml, and use one in build.gradle. This issue wants to remove targetSdk in AndroidManifest.xml to remove building warnings. It's recommend to read Android official documentation to learn those concepts.

[2022-04-01 16:57] Umesh-01 commented on #6966
So, for this I have to set up JDK 11, Android Studio and other tools written in `README.md` file. And then I have to move `targetSdk version` from Android manifest to build.gradle (app). Am I right??

[2022-04-02 01:35] utzcoz commented on #6966
Yup. The README.md also links a building page of robolectric.org, and you can follow it to build Robilectric locally. After that, you can run lint command as issue said to check warnings of targetSdk and follow its suggestion to fix it and evaluate it locally again with lint command. If the warnings disappeared and related tests passed, please send a PR for reviewing. Thanks.

[2022-04-03 04:46] utzcoz commented on #7129
Looks like there is a commit to fix this problem on master branch. I have tested it locally, and it can pass now.

[2022-04-03 04:46] #7129 closed

[2022-04-03 05:06] #7130 closed

[2022-04-03 05:17] #7174 closed

[2022-04-03 06:04] utzcoz opened #7204 "org.robolectric.integrationtests.securityproviders.SecurityProvidersTest failed on macOS with M1"
### Description

There are two failed tests as example:

[code]

### Steps to Reproduce

Run `./gradlew :integration_tests:security-providers:test`.

### Robolectric & Android Version

Robolectric latest master branch.

### Link to a public git repo demonstrating the problem:

Robolectric itself.

[2022-04-03 06:07] utzcoz opened #7205 "org.robolectric.shadows.httpclient.ShadowDefaultRequestDirectorTest failed on macOS"
### Description

[code]

I don't know whether it is related to M1 or not before investigating into it.

### Steps to Reproduce

Run `./gradlew :shadows:httpclient:test`.

### Robolectric & Android Version

Robolectric latest master branch.

### Link to a public git repo demonstrating the problem:

Robolectric itself.

[2022-04-03 08:10] utzcoz commented on #7205
This test failed because I setup some network config locally, and it will pass if I remove those network configs on my development machine.

[2022-04-03 08:10] #7205 closed

[2022-04-04 14:41] alwa opened #7212 "ReflectionUtil broken on MacOS (on M1)?"
### Description
I have unit tests that pass on Windows and Linux but fail on MacOS Monterey 12.3 on the M1.

Crash:
[code]

### Steps to Reproduce

[code]
### Robolectric & Android Version
Robolectric 4.7.3

### Link to a public git repo demonstrating the problem:

[2022-04-04 14:44] utzcoz commented on #7212
@alwa The most related to `RelfectionHelpers` failed case is JDK version. Could you check and show your JDK versions on your different OS?

[2022-04-04 15:28] alwa commented on #7212
Hi, JDK versions below:
- 11.0.11 (OpenJDK) on Windows
- openjdk:11 docker image on CentOS / Red Hat Linux
- JDK 11 on MacOS as well. I have asked for the exact version... Will update this post when I know for sure

[2022-04-04 16:35] Umesh-01 commented on #6966
@utzcoz With `./gradlew clean assemble` command I am getting this error: "No such file or directory" while Building process.

![image](https://user-images.githubusercontent.com/83420185/161590530-4e2ff965-bd07-473a-8092-d06f5d7ac140.png)

[2022-04-04 17:40] hoisie commented on #7212
If you are seeing this error in JDK 11, you are probably not actually using JDK 11. The restriction of setting static final fields was added in JDK 12:
http://mail.openjdk.java.net/pipermail/core-libs-dev/2018-November/056486.html

Ensure that the PATH and JAVA_HOME are set up properly.

There was a test for this in Robolectric:
https://github.com/robolectric/robolectric/blob/master/shadowapi/src/

[2022-04-05 01:12] utzcoz commented on #6966
@Umesh-01 Please run this command under Robolectric source code top directory.

[2022-04-05 01:28] utzcoz opened #7214 "Support all authentication results for BiometricManager"
### Description

[BiometricManager](https://developer.android.com/reference/android/hardware/biometrics/BiometricManager) has multiple authentication result:

1. `BIOMETRIC_ERROR_HW_UNAVAILABLE`.
2. `BIOMETRIC_ERROR_NONE_ENROLLED`.
3. `BIOMETRIC_ERROR_NO_HARDWARE`.
4. `BIOMETRIC_ERROR_SECURITY_UPDATE_REQUIRED`.
5. `BIOMETRIC_SUCCESS`.

But Robolectric only supports following results for `int canAu

[2022-04-05 07:41] utzcoz commented on #7188
Fixed by https://github.com/robolectric/robolectric/pull/7210.

[2022-04-05 07:41] #7188 closed

[2022-04-05 08:37] utzcoz opened #7215 "Track MotionEvent's offsetLocation behaivor change from Android 12L"
See https://github.com/robolectric/robolectric/pull/7170 for detail.

[2022-04-05 09:04] Umesh-01 commented on #6966
Not it is showing **Build failed with an exception**

![image](https://user-images.githubusercontent.com/83420185/161719188-8514c173-d5ad-465a-a069-154ed1f9f034.png)

[2022-04-05 09:06] utzcoz commented on #6966
@Umesh-01 Please read http://robolectric.org/building-robolectric/ and follow it to setup development environment on Windows. Before that, please ensure you have downloaded/cloned source code with recursive mode to fetch icu and sqlite correctly, because they are used with git-sub-module.

[2022-04-05 09:12] Umesh-01 commented on #6966
Sure !!

I think my system is using older version of gradle, let me check it first.

[2022-04-05 10:23] Umesh-01 commented on #6966
I am getting this in Build window "The targetSdk version should not be declared in the android manifest file. You can move the version from the manifest to the defaultConfig in the build.gradle file." and a warning with Lint.

Should I remove it using "Remove targetSdkVersion and sync project" option in Build window??

![image](https://user-images.githubusercontent.com/83420185/161732861-b9de36c3-

[2022-04-05 10:28] Umesh-01 commented on #6966
This is still showing the same error, with Build failed message but when I opened the project with android studio, Build process is showing successful with the same warnings. IDK what's the problem now.

![image](https://user-images.githubusercontent.com/83420185/161734671-ddd86fb1-832c-498b-8fa8-2915f3635ba3.png)

[2022-04-05 11:20] utzcoz commented on #6966
You can use `./gradlew assemble --stacktrace` to get detailed build log. Maybe it will be useful to spot out real problem.

[2022-04-05 13:06] utzcoz commented on #7215
@hoisie I copied missed test from `MotionEventTest` in master branch at https://github.com/robolectric/robolectric/pull/7216, and it failed on Robolectric and Emulator. We need to wait response from Android Product Team about this restriction before doing more for this issue.

[2022-04-05 13:47] utzcoz commented on #6339
https://github.com/robolectric/robolectric/issues/6339#issuecomment-854404040, https://github.com/robolectric/robolectric/issues/6339#issuecomment-871252929 and https://github.com/robolectric/robolectric/issues/6339#issuecomment-898664875 provide some insights and workaround. If you encountered similar problem, please read those comments firstly. If they can't help to fix your problem, feel free t

[2022-04-05 13:47] #6339 closed

[2022-04-05 13:52] utzcoz commented on #3937
@yu-yokote could you try latest Robolectric 4.7.3? I noticed AOSP also uses Robolectric for car-lib's local-testing: https://cs.android.com/search?q=robolectric&sq=&ss=android%2Fplatform%2Fsuperproject:packages%2Fapps%2FCar%2F.

[2022-04-05 14:06] Umesh-01 commented on #6966
Can't I do this from Android Studio??

[2022-04-05 15:15] Umesh-01 commented on #6966
Is this fine??

![image](https://user-images.githubusercontent.com/83420185/161787079-a5a3a230-3a0c-4b5d-bd77-e35e75ebd98e.png)

[2022-04-05 15:29] Umesh-01 commented on #6966
Now, `./gradlew --scan` `./gradlew --stacktrace` and `./gradlew --warning-mode all` all of them are showing BUILD SUCCESSFUL, only `./gradlew clean assemble` is showing BUILD FAILED.

[2022-04-05 18:24] Akshay2131 commented on #7191
Here, the method will be addded as :
`@Implementation
  protected static List<SyncInfo> getCurrentSyncs() {
    ...
  }`
Now, in getCurrentSyncs() method do we need to get all the active syncs or could you suggest anything about it?

[2022-04-06 11:10] Umesh-01 commented on #6966
I am not able to find out the solution for this error, what I found is not related to this on stackoverflow and other websites. The problem is only with `.gradlew assemble` command.

And error is:
[code]

[2022-04-06 11:20] utzcoz commented on #6966
@Umesh-01 What I found about this error is related to JDK: https://www.youtube.com/watch?v=90UB4vhoIaI. Which real path of your installed JDK and what's your `JAVA_HOME` on your terminal before running `./gradlew assemble`?

[2022-04-06 12:20] Umesh-01 commented on #6966
Yes firstly the path of JDK 11 was in Path variable with all the other paths and then I have created 'JAVA_HOME' environment variable for JDK 11, but I think now both paths are same. I faced this error when you told me about this [command](https://github.com/robolectric/robolectric/issues/6966#issuecomment-1088582502) and I got this [result](https://github.com/robolectric/robolectric/issues/6966#i

[2022-04-06 16:59] Umesh-01 commented on #6966
Sorry, I was wrong. This `./gradlew assemble --stacktrace` command is still giving [same](https://github.com/robolectric/robolectric/issues/6966#issuecomment-1088747447) error. I got confused between `./gradlew assemble --stacktrace` and `./gradlew --stacktrace`

[2022-04-06 17:02] Umesh-01 commented on #6966
I don't know what was `JAVA_HOME` on my terminal before running this command but I have added it to environment variables manually. It didn't exist before that.

[2022-04-06 18:33] Umesh-01 commented on #6966
And also I am not using the embedded JDK like it was shown in the video.

![image](https://user-images.githubusercontent.com/83420185/162044189-f0e59abc-ee57-4018-814a-29650db3c7c3.png)

[2022-04-07 00:39] Akshay2131 commented on #7191
`
@Implementation
  protected static List<SyncInfo> getCurrentSyncs()  {

    List<SyncInfo> list = new ArrayList<>();

    for(Map.Entry<String, Map<Account, Status>> map: syncableAccounts.entrySet()) {

      for(Map.Entry<Account, Status> mp: map.getValue().entrySet()) {

        if(isSyncActive(mp.getKey(), map.getKey())) {

            SyncInfo si = new SyncInfo(0, mp.getKey(), map.getKey(),

[2022-04-07 02:40] utzcoz commented on #6966
Sorry, I don't have other idea about it.Hi @hoisie , do you have any idea about it?

[2022-04-08 05:09] Umesh-01 commented on #6966
Hello @hoisie can you guide me on this issue..!!

[2022-04-08 07:05] hoisie commented on #7191
Thanks @Akshay2131. This approach seems about right to me. Whenever `ContentResolver.requestSync` is called, this should be included in the result from `ContentResolver.getCurrentSyncs`.

[2022-04-08 07:05] hoisie commented on #7191
Let's take the discussion to the PR.

[2022-04-09 00:56] Abdulrahman1890 commented on #6753
Can you please provide me more details about this issue

[2022-04-09 03:02] utzcoz commented on #6753
@Abdulrahman1890 The `NO_REBUILD` is gradle option added by Robolectric plugin to avoid rebuild module. Looks like it doesn't be used now. Maybe @hoisie can provide more information about it.

[2022-04-09 03:21] utzcoz commented on #6966
@Umesh-01 you also can do this task directly, and send PR for it. It's very simple, and we can push its progress directly.

[2022-04-09 10:10] Umesh-01 commented on #6966
Yes, I have opened the PR, @utzcoz can you pls review it.

I will try again to build the project from scratch by following the guidelines given on the robolectric.org web page. And I will try to figure out the problem that I am facing.

[2022-04-09 12:53] Abdulrahman1890 commented on #6753
Hi @hoisie can you provide more information for me plz?

[2022-04-09 14:42] Abdulrahman1890 commented on #7192
Provide me with more details please

[2022-04-09 14:45] Abdulrahman1890 commented on #7194
Inform me with more details plz

[2022-04-09 15:17] utzcoz commented on #7194
It's not recommended to trying multiple starter issues at once. If you have interested into one issue, please try to finish that one firstly, instead of trying multiple issues the same time. We don't have enough starter issues now, and they should be left for newbies. This behavior will affect other folks to leave interesting comment because they maybe think this issue is assigned to one folk comm

[2022-04-09 15:24] Abdulrahman1890 commented on #7194
Oh, So sorry I wasn't know that.. I just want to contribute and solve an issue to be able to contribute in the main project with GSOC and send my proposal before the deadline

[2022-04-09 15:41] Akshay2131 commented on #6950
PR: #7233

[2022-04-11 18:46] Umesh-01 commented on #6966
@utzcoz which one I have to install from these??

Previously I had installed all of them.

![image](https://user-images.githubusercontent.com/83420185/162808124-d8ecc781-d7bf-4a5d-8029-3d6c7f3eeed7.png)

[2022-04-12 09:21] saschpe commented on #5456
The Gradle Kotlin DSL version looks like this:

[code]

[2022-04-12 17:45] jfresen opened #7242 "NativeInput.MotionEvent.copyFrom does not make a deep copy of PointerProperties[]"
### Description

When using `val copy = MotionEvent.obtain(event)`, the PointerProperties are not deep copied. When the source event is subsequently recycled, reused and repopulated, the copy's pointer properties are changed. I believe the problem is in the assignment `mPointerProperties = other.mPointerProperties` in [NativeInput.MotionEvent.copyFrom](https://github.com/robolectric/robolectric/bl

[2022-04-13 12:00] utzcoz commented on #6966
@Umesh-01 I think you use following commands to install directly:

[code]

Those commands are listed in http://robolectric.org/building-robolectric/.

[2022-04-14 12:23] vyguera opened #7246 "Several methods from Paint.class aren't implemented in ShadowPaint"
### Description
Some methods in Paint.class that makes use of private native methods such as the getters and setters of letterSpacing, textScaleX, textSkewX, wordSpacing... are not implemented in ShadowPaint meaning these does not work in robolectric

### Steps to Reproduce
Having the following matcher:
[code]
Define a fragment with a TextView inside its layout and add the attribute `android:lette

[2022-04-14 13:10] utzcoz commented on #7242
@jfresen Thanks for pointing out this problem. Looks like we can use [new MotionEvent.PointerProperties(other.mPointerProperties)](https://cs.android.com/android/platform/superproject/+/master:frameworks/base/core/java/android/view/MotionEvent.java;l=4225-4227;drc=0d0f86c204f48493abf8eade995465872d1be565?q=MotionEvent.java&ss=android) directly to make a deep copy of `PointerProperties`. Could you

[2022-04-14 14:24] alwa commented on #7212
OK, thanks. I'm afraid I cannot verify this so let's assume I was running JDK 12+ then.
Closing this...

[2022-04-14 14:24] #7212 closed

[2022-04-15 11:05] neworld opened #7249 "Robolectric is silently skipping tests if includeAndroidResources = false"
### Description

According to build scans merging resources are not an easy task. For optimizing builds I disabled `includeAndroidResources` for some modules. The build was a success and a bit faster. However, after a few days, my coworker found some tests were skipped. Logs:
[code]

So, I was surprised that I had broken tests and had no idea about it.

Would be great to have a flag for enabling s

[2022-04-15 11:25] utzcoz commented on #7249
@neworld Maybe this issue is duplicated to https://github.com/robolectric/robolectric/issues/6934.

[2022-04-15 13:30] neworld commented on #7249
Yes, it is related and could be a duplicate. My idea is to have build failures in something that is missing. Always. But https://github.com/robolectric/robolectric/issues/6934 is more like fixing a robolectric build issue, or [as stated in this comment](https://github.com/robolectric/robolectric/issues/6934#issuecomment-1001062064) failback to empty manifest, which covers some cases.

[2022-04-15 14:39] hoisie commented on #7249
I would be in favor of having the test process fail if no tests are run. I am not sure if this logic should be contained in AGP or in Robolectric though.

[2022-04-15 18:51] Umesh-01 commented on #6966
Yes, I tried but it didn't work either.

Can you review my project proposal??

[2022-04-15 23:19] hoisie commented on #6966
@utzcoz should disable the native runtime build for Windows at the moment? It causes too many complications to build, and the sqlite calls don't even work due to dll issues.

Also, I would like to move towards having the native runtime shared objects be separate artifacts on maven so they can just be pulled from maven during the build.

[2022-04-15 23:31] hoisie commented on #6966
Sorry for the late reply to this thread.

@Umesh-01 first of all I would encourage you to use an Ubuntu VM if possible to build Robolectric. Windows support is not great, and none of the maintainers work in Windows (we use Linux + Mac).

In the Robolectric root directory, did you run `git submodule update --init`? It appears that you may not have the submodules checked out (sqlite and icu).

Once

[2022-04-15 23:32] hoisie commented on #6966
@Umesh-01 can you  also send the proposal to hoisie+gsoc@google.com? Is this for Conscrypt?

[2022-04-16 03:53] #7191 closed

[2022-04-16 04:15] utzcoz commented on #6966
@Umesh-01 if you have problem to setup Windows environment, please file a new issue or discussion to discuss it. I will close this issue because you PR merged. Thanks for contribution.

@hoisie What about moving discussion to https://github.com/robolectric/robolectric/discussions/7199?

[2022-04-16 04:15] #6966 closed

[2022-04-16 08:50] utzcoz commented on #7242
@jfresen I sent a PR at https://github.com/robolectric/robolectric/pull/7251 for this issue.

[2022-04-16 12:01] Umesh-01 opened #7252 "Problem to setup and build Robolectric on Windows environment"
### Description
I am building the project by following the guidelines given on [this](http://robolectric.org/building-robolectric/) web page. Everything works fine until I run this `./gradlew clean assemble` command.

It shows this error:
[code]
with **BUILD FAILED** message.

### Steps to Reproduce
Using `./gradlew clean assemble` command.

### Robolectric & Android Version
Robolectric : 4.7.3

#

[2022-04-16 12:16] Umesh-01 commented on #7252
@hoisie I will try on Ubuntu VM. I have used Ubuntu with VM on my Windows last year but it works too slow and sometime lags as it requires much memory and CPU usage.

[2022-04-16 12:23] Umesh-01 commented on #7252
@hoisie I tried [these](https://github.com/robolectric/robolectric/issues/6966#issuecomment-1100470122) commands, getting this error:

![image](https://user-images.githubusercontent.com/83420185/163674591-a6e5a2a0-46c4-4c23-8fc1-17204cdebcb3.png)

Do I have to set the path for C compiler??

[2022-04-16 13:02] utzcoz commented on #7252
@Umesh-01 The error statement "configure: error: no acceptable C compiler found in $PATH" shows that you can't configure your mingw built tools correctly.

[2022-04-16 16:53] Umesh-01 commented on #7252
On stack overflow it is showing that you haven't set the path variable, but after giving the path in environment variables still showing same error:

![image](https://user-images.githubusercontent.com/83420185/163684050-b4dcba46-d0e5-46b5-a9fd-a9e747a845e6.png)

[2022-04-17 05:08] utzcoz commented on #7252
It's recommended to clean up cmake/make cache after setting system environment.

[2022-04-17 06:17] hoisie commented on #7252
@Umesh-01 how are you starting MinGW? You should open the shortcut with the name `MSYS2 MinGW x64`. If you don't, the environment will not be set up properly.

[2022-04-17 06:24] #7242 closed

[2022-04-17 16:43] Umesh-01 commented on #7252
Now, I am getting some different output with security alert from my antivirus.

![image](https://user-images.githubusercontent.com/83420185/163723669-1a1bfcea-4660-46b8-bf7b-055320945094.png)

![image](https://user-images.githubusercontent.com/83420185/163723646-3191639f-847f-4ff7-ab12-6fa800ac33d7.png)

[2022-04-17 17:35] Umesh-01 commented on #7252
I was mistakenly running all those commands in `MSYS2 MSYS`, and tried again to build it in `MSYS2 MinGW x64` but the output is same I am getting the same error.

![image](https://user-images.githubusercontent.com/83420185/163725811-4b8a4e6b-967e-411e-8a11-3d2a4afda0a0.png)

[2022-04-17 18:03] Umesh-01 commented on #7252
@hoisie did you got my proposal for Conscrypt?? I had sent it at your email.

[2022-04-18 11:48] Akshay2131 commented on #6888
Hi @utzcoz, i want to work on it as it is also a part of my GSoC project (To improve shadowOf generation)..
I am working on to add some feature so as to prevant ClassNotFoundException and NoClassDefFound types of errors that come when it tries to load classes that are not present in compileSdk level.

[2022-04-18 11:52] Akshay2131 commented on #6888
There are some possible solutions that include Replacing classes with Object and then using type-casting to convert it to particular type..
But i think there could be better alternative to it like if i investigate WithType.
If you have any other suggestion or any feature recommendation, please do let me know..

[2022-04-19 05:28] utzcoz commented on #6888
We are using this mechanism to avoid `ClassNotFoundException` and related above mentioned problems with `looseSignature`. But we don't think it is concise solution, and mark it as workaround. This issue is just an idea to improve solution. If you have other better ideas, it's welcome to post it out, and we can discuss it.

[2022-04-19 05:59] Akshay2131 commented on #6888
Currently, i am working on the same and soon I will update it here itself..

[2022-04-19 08:00] #6950 closed

[2022-04-19 11:33] neworld commented on #7249
@hoisie, I am not sure if I understand your idea. The problem with Roboletric is that some tests are skipped if some problems occur. From my point of view, it is unusual and unexpected behavior. So, from AGP or Gradle side checking skipped tests will not help much, because we have some tests skipped for good reasons (for example long tests), and even some modules have all tests skipped.

I believe

[2022-04-19 11:37] neworld commented on #6934
`Gradle scans` report that sometimes `MergeResource` tasks is the longest one and it took >2 minutes. Of course, it could be the effect of busy workers, but anyway, this task is not free, it consumes resources. I believe, having an implementation like this could help us disable `includeAndroidResources` for some modules

[2022-04-21 06:43] jimmy-jos opened #7261 "Unit test failing with INTERNET permission is required"
### Description
My simple unit test is failing with INTERNET permission is required
### Steps to Reproduce
This is my application class:

[code]
This is my test class

[code]
This is the stack trace

[code]

I have searched all over StackOverflow(Also added my own [question](https://stackoverflow.com/questions/71845807/android-unit-test-fails-with-java-lang-illegalargumentexception-internet-permis

[2022-04-21 14:17] dazza5000 opened #7262 "SwipeRefresh tests pass using espresso, but fail running on robolectric"
### Description

Swipe to Refresh test cases pass using espresso, but fail on robolectric

### Steps to Reproduce

The test cases in this repo fail when run on Robolectric, but pass when running on an emulator using espresso

https://github.com/dazza5000/swipe-refresh-test-cases

Here are two key snippets if you don't want to open the repo

[code]

[code]

### Robolectric & Android Version

4.7.3

[2022-04-22 08:34] #7261 closed

[2022-04-22 13:32] wesalvaro opened #7266 "`requestDisallowInterceptTouchEvent` doesn't propagate"
### Description
The `ViewGroupShadow` does not propagate `requestDisallowInterceptTouchEvent`. This leads to bugs in testing when that feature is needed.

### Robolectric & Android Version
head & any

[2022-04-22 13:33] wesalvaro commented on #7266
I have an internal cl/443649582 to fix this.

[2022-04-22 13:36] utzcoz commented on #7266
Hi @wesalvaro Could you contact @hoisie internally to sync it to public repo? Thanks.

[2022-04-22 13:48] wesalvaro commented on #7266
Roger roger.

[2022-04-23 00:45] mjayansf commented on #5931
Is there an update on this? I'm facing the same error on 4.7.3 from 4.3.1

[2022-04-23 14:19] utzcoz commented on #5597
No folks take this issue at GSoC 2022, so I will take this issue again to continue related work at next few weekends. cc @ganadist ..

[2022-04-25 00:54] jaredsburrows commented on #6920
@hoisie Any update on this?

[2022-04-25 10:06] utzcoz commented on #5931
@mjayansf Could you file a new issue with your stacktrace for your problem? Some folks has confirmed that 4.7.1 can work with JDK 16.

[2022-04-25 14:33] SamMaier opened #7269 "shadows-playservices causes bytecode VerifyError"
### Description
Calling the constructor of [play-services-basement's](https://mvnrepository.com/artifact/com.google.android.gms/play-services-basement) [ApiException](https://developers.google.com/android/reference/com/google/android/gms/common/api/ApiException#ApiException(com.google.android.gms.common.api.Status)), when using robolectric's [shadows-playservics](https://mvnrepository.com/artifact

[2022-04-25 23:19] hoisie commented on #7269
Interesting edge case. I have no idea how this class was compiled. There seems to be complex logic in the ApiException constructor that happens before invoke `super`, which is causing issues for constructor instrumentation.

com.google.android.gms.common.api.ApiException before instrumentation:
[code]

After instrumentation:
[code]

The `1: aload         5` is clearly not right in the instrumented

[2022-04-25 23:48] hoisie commented on #7269
It seems like in Robolectric's instrumentation, there is an assumption that constructors are structured like this:

[code]

Robolectric splits this up into two methods: a constructor that has `aload_0` upto and including `invokespecial`, and then a `__constructor__` method with the other stuff.

It seems that there is bytecode in the wild that does not have this format. This bytecode seems to defe

[2022-04-26 02:23] jkuester opened #7272 "ShadowActivity improper behavior when granting only some permissions for RequestMultiplePermissions"
### Description

I am seeing some improper behavior when using the `ShadowActivity` in a test to mock the behavior of granting some permissions but not all when requesting multiple permissions. Everything works fine when granting _all_ of the requested permissions on the shadow. However, if I only grant _some_ of the permissions on the shadow, then the callback in my implementation code that I reg

[2022-04-26 12:08] utzcoz commented on #7266
Fixed by https://github.com/robolectric/robolectric/commit/ea3e5d1a15c352e600ea54fa4fafc70611f8db1d. It will be merged into master branch at next period.

[2022-04-26 12:08] #7266 closed

[2022-04-26 18:46] hoisie commented on #7269
I tracked this down a bit and unfortunately there's not really much we can do about this.

The issue is that ApiException from `play-services-basement` is run through dex/appreduce.

Before dex/appreduce, the constructor is something that Robolectric can process:

[code]

After, it gets converted to this:

[code]

I tried various things, but couldn't get anything working. The complex parts are the

[2022-04-27 03:10] ingosvaldomercado opened #7274 "ClassNotFoundException org.robolectric.android.internal.AndroidTestEnvironment"
### Description

When I ran the tests I'm getting this:

java.lang.ClassNotFoundException: couldn't load org.robolectric.android.internal.AndroidTestEnvironment
java.lang.RuntimeException: java.lang.ClassNotFoundException: couldn't load org.robolectric.android.internal.AndroidTestEnvironment
	at org.robolectric.internal.bytecode.Sandbox.bootstrappedClass(Sandbox.java:43)
	at org.robolectric.intern

[2022-04-27 05:37] hoisie commented on #7274
This issue has no repro instructions or sample app. Sorry, it is not actionable. Please refer to https://github.com/robolectric/robolectric/wiki/How-to-Report-Issues.

[2022-04-27 05:37] #7274 closed

[2022-04-27 15:27] alwa commented on #7055
It looks like I have a breakthrough on this issue! More tests to perform before I can fully confirm but this is my theory for the root cause.

I have not declared an explicit dependency to **org.jetbrains.kotlinx:kotlinx-coroutines-core** in the production code but I have a declared dependency to **org.jetbrains.kotlinx:kotlinx-coroutines-test**. So what I suspect is that there was a version misma

[2022-04-29 15:10] charlesng opened #7281 "Description is different in bitmap when use `decodeByteArray` method to generate bitmap"
### Description

I have 1 feature to convert the encoded base64 string to bitmap  so I used the following testcase to check if my encoded base64 string `Hello, world` can be decoded successfully and then verified in bitmap description. But after i upgraded to 4.8 today i got fail in this test case. Does the behaviour changed in bitmap in robolectric 4.8? 🤔

Appreciate any comment / advise if i did

[2022-04-30 09:22] utzcoz commented on #7281
@charlesng Thanks for reporting this problem. This behavior is brought in by commit https://github.com/robolectric/robolectric/commit/f86d4b125e8cf197b428dc02a8c7320339736f3e. Looks like it is an expected behavior, @hoisie is that right?

[2022-04-30 15:56] hoisie commented on #7281
@paulsowden

Yeah, the idea of putting the image bytes in the bitmap description is simply not possible when real bitmap data is used (e.g. using BitmapFactory.decode(...) with real image data, the string is just a jumbled mess. I think the reason for this change was performance-related for large images. @paulsowden has more details I believe.

[2022-04-30 17:34] paulsowden commented on #7281
Yeah, decoding bitmap bytes as UTF-8 encoded string was causing allocation issues with large bitmap byte arrays, and as this behavior is not representative of what real Android does we had to alter the shadow behavior to support the real case.

So in practice your test is not really asserting correct Android behavior, Android will never decode a byte array passed in to `BitmapFactory` as a string.

[2022-04-30 17:43] paulsowden commented on #7281
I would say in general as well that it should be considered legacy behavior to pass in non-bitmap data to a `BitmapFactory`, for example some code under test may wish to assert that `BitmapFactory` doesn't produce a valid `Bitmap` when it is given garbelled bytes, today `BitmapFactory` happily returns a `Bitmap`, but this is a limitation of the shadow rather than correct behavior. So I would encou

[2022-05-02 03:01] ganadist opened #7286 "Shadows.shadowOf() raise compile error since Robolectric 4.8"
### Description

### Steps to Reproduce
1. clone sample source
[code]

### Robolectric & Android Version
* Robolectric 4.8
* CompileSdk/TargetSdk 32

### Link to a public git repo demonstrating the problem:
* https://github.com/ganadist/VersionCodeDemo/tree/robo48_compile_error

[2022-05-02 04:06] utzcoz commented on #7286
Fixed by https://github.com/robolectric/robolectric/pull/7284.

[2022-05-02 04:06] #7286 closed

[2022-05-02 08:27] utzcoz commented on #6920
@jaredsburrows @anthony-fresneau-kiplin The 4.8 released with SDK 32 supporting. Please check this new stable version.

[2022-05-02 08:27] #6920 closed

[2022-05-02 09:08] anthony-fresneau-kiplin commented on #6920
Yeah, it's working. Thanks

[2022-05-02 16:52] #6337 closed

[2022-05-03 15:27] g-coppock opened #7289 "Request: Support testing setShowWhenLocked() and setTurnScreenOn() on ShadowActivity"
### Description

Two flags in `WindowManager.LayoutParams` ([`FLAG_SHOW_WHEN_LOCKED`](https://developer.android.com/reference/android/view/WindowManager.LayoutParams#FLAG_SHOW_WHEN_LOCKED), [`FLAG_TURN_SCREEN_ON`](https://developer.android.com/reference/android/view/WindowManager.LayoutParams#FLAG_TURN_SCREEN_ON)) are deprecated in API 27, in favor of [`Activity.setShowWhenLocked(boolean)`](https:

[2022-05-04 06:44] utzcoz commented on #7286
Hi @ganadist , could you test 4.8.1 to check whether it fixes your problem? Thanks.

[2022-05-04 06:50] ganadist commented on #7286
@utzcoz ,
Sure, I already tested, and `4.8.1` fixed my problem.
Thank you very much!

[2022-05-04 07:19] utzcoz commented on #7286
@ganadist Thanks for testing.

[2022-05-05 06:38] UmeshChakre commented on #5147
Yes my project depend on jar files, i could not figure out whether there is different version of Guava or not . i looked at previous answers but i could not figure out.

[2022-05-06 14:19] utzcoz commented on #7281
@charlesng Looks like previous explanation solves your problem. Feel free to reopen this issue if you have other problems.

[2022-05-06 14:19] #7281 closed

[2022-05-06 14:28] utzcoz commented on #3937
Robolectric's android-all has integrated `android.car` at commit https://cs.android.com/android/_/android/platform/external/robolectric-shadows/+/a42f68ebfd85605dd9b00ffa411154e95a3892af. Maybe we can think Robolectric has basic Android Automotive supporting from latest release. Hi @hoisie , is there any API restriction to use `android.car` libraries? And we can close this issue if my previous und

[2022-05-09 00:20] ganadist commented on #7204
It seems this issue is related with https://github.com/google/conscrypt/issues/1034

[2022-05-11 06:05] #6939 closed

[2022-05-11 08:20] MuntashirAkon opened #7300 "Handle `Environment#isExternalStorageManager()`"
### Description
`Environment#isExternalStorageManager()` currently throws the following error:

[code]

Possibly because it hasn't been handled via the `ShadowEnvironment` class.

A temporary workaround is to check for Roboletric tests and return `true` or `false` depending on what is needed.

### Robolectric & Android Version
Tested on 4.7.3 and 4.8.1 (latest as of today).

[2022-05-12 13:25] Nailik opened #7306 "Skips tests apove api 29 in Kotlin Multiplatform"
### Description
I am using robolectric in Koltin Multiplatform to have a context.
When i set maxSDK to above 28 i see that for api API that's > 28 all my tests show
[code]

without any information why it does this.

### Steps to Reproduce
in commonTest i use
`expect abstract class UsingContextTest() { } `
that's then implemented in androidTest as
[code]

The implementation in commonTest for tests

[2022-05-12 13:47] utzcoz commented on #7306
@Nailik If you want to run all your tests, you can set `maxSdk=30`.

[2022-05-12 14:03] Nailik commented on #7306
setting `maxSdk=30` in `robolectric.properties` results in the same issue.
The tests from API 16 until API 28 are all successfull and the tests above all getting skipped.
[code]

i will create a minimal reproduce app

[2022-05-12 14:16] Nailik commented on #7306
There it is, see `commonTest/kotlin/.../commonTest` the `testExample `
i also added an output to show that the tests are not executed above api 28

https://github.com/Nailik/HelloKMM

[2022-05-13 03:27] cheers-huang opened #7308 "It does not well adapt supporting type RES_TABLE_LIBRARY_TYPE ."
### Description
I add another resouce apk which contain type RES_TABLE_LIBRARY_TYPE = 0x0203 with packageId=0x2.
When I load this apk, it will crash with java.lang.NullPointerException.
### Steps to Reproduce
Resource apk(example-res.apk) contain type RES_TABLE_LIBRARY_TYPE with packageId=0x2
CppApkAssets cppApkAssets = CppApkAssets.Load("example-res.apk", true);
exception is following:
java.lang.

[2022-05-15 12:53] #7192 closed

[2022-05-15 13:19] utzcoz commented on #7306
@Nailik Feel free to  reopen this issue if you have other problem/issue.

[2022-05-15 17:21] #7246 closed

[2022-05-17 05:24] Nailik commented on #7306
@utzcoz first tests look good for now, thank you for the fast response.
Maybe it would be nice to add WHY a test was Skipped in the log output.
Or adding some information to the Getting Started page like "without ... your tests might be skipped above api 29".

[2022-05-17 11:16] utzcoz commented on #7306
@Nailik Thanks for suggestion. I will try to add a log for it.

[2022-05-19 10:24] JohnZhang1000 commented on #4278
Any updates on this? I have a project, it used pacakge_res.apk for Custom theme,  when I use robolectric to test activity,It shows No package ID 02 found for ID 0x02060009. whitch acturly is the ID of the theme resouce. and I have no idea how to add apk Resources for Unit Test.

Android Studio 4.1.1
Robolectric 4.7.3
sdk 30
and uesd testOption
testOptions {
        unitTests {
            includeA

[2022-05-19 11:31] vyguera opened #7321 "getTypeface method does not return right Typeface data from Button with custom fontFamily"
### Description
I am trying to validate if the styling of a custom view in my SDK is customizable, and for that I need to check if I can change its `fontFamily` attribute.

For other tests I am using the following matcher that works properly:
[code]
As it is a custom view I have to extend from `AppCompatButton`. And, as it also extends from `TextView`, this matcher should also be valid for the cus

[2022-05-19 14:59] agrieve commented on #7269
Is there a way to apply this fix when using a ParameterizedRobolectricTestRunner? The class is final, so we can't override that method on it.

[2022-05-19 18:19] hoisie commented on #7269
@agrieve To do that you may need to fork ParameterizedRobolectricTestRunner (i.e copy the code and call it something like `MyParameterizedRobolectricTestRunner`), and then update MyParameterizedRobolectricTestRunner to use a RobolectricTestRunner subclass that has the relevant methods subclassed.

I don't think there's a way to do it via `@Config` or robolectric.properties :( Maybe we should add i

[2022-05-19 19:51] mattinger opened #7323 "Compose DropdownMenu testing"
### Description

We are creating a spinner like control for use in our applications.  You click on a UI item (in our case a card with some styling, icons, etc...).  That controls the expand state that we pass to a DropdownMenu.  This all works great, except for when we get to testing.

Once we issue the performClick on the card, the next call try to check anything on the page hangs.  I presume tha

[2022-05-19 20:10] mattinger commented on #7323
Seems like this is a compose bug, not robolectric

[2022-05-19 20:10] #7323 closed

[2022-05-22 06:30] hellosagar commented on #7204
@ganadist are you able to run this without any error?

[2022-05-23 14:11] utzcoz opened #7325 "Investigate into defining GMD in a single file and importing it from build.gradle"
### Description

See https://github.com/android/testing-samples/pull/434#issuecomment-1118099484.

### Steps to Reproduce

None.

### Robolectric & Android Version

Latest Robolectric master branch.

### Link to a public git repo demonstrating the problem:

Robolectric itself.

[2022-05-23 16:07] Nodrex opened #7326 "RXJava & RXAndroid Problem"
### I am using RXJava  like this:
[code]
`signIn()` is suspend function which returns `Single<Account>`
and then I am testing it with roboelectric like this:

[code]
and unfortunately `Consumer` is not called on the latest 4.8.1  version, however, it works on older 4.2.1 version

RXAndroid version 2.1.1
RXJava version 2.2.19
kotlin version 1.5.21
Junit version 4.13.2
mockk version 1.10.6

[2022-05-23 16:22] mihaipopa12 opened #7327 "AccessibilityNodeInfo setter (isHeading) not mirrored in shadowed tree"
It seems that changing certain properties of `AccessibilityNodeInfo` does not reflect correctly in Roboelectric:
[code]
Note how the second print is `false`, while it should be `true` as well.
If we replace `isHeading` by `isScrollable`, `isCheckable`, etc. this will work as expected (both prints will be `true`).

Version:
[code]
`Android SDK 31`

[2022-05-25 14:24] utzcoz commented on #7326
@Nodrex Could you try `@LooperMode(LEGACY)` to your test, and run it with 4.8.1? Maybe your problem is related to http://robolectric.org/blog/2019/06/04/paused-looper/.

[2022-05-26 06:23] simple-kss opened #7333 "When does Robolectric support Android 13 ?"
### Description
Dear developers,

Can I ask for when robolectric supports Android 13 (Andorid T) ?
Currently, I'm making application on Android 13.
And, I want to test the app using robolectric framework.
But, I believe that robolectric framework doesn't support Android 13.

so, I want to know when robolectric supports Android 13.
Thank you.

[2022-05-26 13:00] hellosagar commented on #7325
I found this feature about Gradle-managed android devices interesting, So I checked out this issue. but I found out that from android there is not any official support to keep the config in a single file and it will use for every app.gradle file

I found this article - https://developer.android.com/studio/preview/features#dolphin-testing

[2022-05-26 16:02] hellosagar commented on #7325
I've created a separate file named "something.gradle" in the project root directory and then defined the `testOptions` there.
<img width="995" alt="Screenshot 2022-05-26 at 9 30 56 PM" src="https://user-images.githubusercontent.com/50016799/170527091-bc5d4c56-dae6-4b92-b106-7bf9a6e819cb.png">

but when I sync the project I get this error
[code]

[2022-05-27 15:25] #7306 closed

[2022-05-28 04:02] utzcoz commented on #7333
@hoisie This type of problem is very common. What about opening a new question discussion, you answer it, selecting your answer as final answer and pin it to discussion top.

[2022-05-28 13:22] ivasku commented on #5186
Did anyone solved this ? I have the identical error on windows 11 with Roboelectirc  4.4

[2022-05-28 13:26] utzcoz commented on #5186
@ivasku The fix(https://github.com/robolectric/robolectric/commit/eb26f9a7d40571ddeea8f950a836d04b16d52533) from @hoisie is released from [robolectric-4.5-alpha-1](https://github.com/robolectric/robolectric/releases/tag/robolectric-4.5-alpha-1). Could you try Robolectric 4.5 or latest Robolectric 4.8.1? The Robolectric 4.8.1 is the best recommendation version to use.

[2022-05-28 13:38] utzcoz commented on #4918
Duplicate of https://github.com/robolectric/robolectric/issues/5597. Free free to reopen it if you think this issue is another problem.

[2022-05-28 13:38] #4918 closed

[2022-05-28 13:38] utzcoz commented on #5106
Duplicate of https://github.com/robolectric/robolectric/issues/5597. Free free to reopen it if you think this issue is another problem.

[2022-05-28 13:38] #5106 closed

[2022-05-28 13:49] utzcoz commented on #5597
FYI @ganadist, I cherry-picked your previous commit and pushed it to https://github.com/robolectric/robolectric/pull/7336 for next continuous work to support dynamic feature.

[2022-05-28 14:05] ivasku opened #7337 "java.lang.IllegalStateException: java.lang.RuntimeException: java.io.IOException: The filename, directory name, or volume label syntax is incorrect"
### Cannot run unit tests with Robolectric:4.4 on windows 11.
It works on IOS.

I tried to add to gradle properties android.jetifier.blacklist=bcprov but no luck.

### Steps to Reproduce
There is a ZIP project where this can be reproduced
[01-test.zip](https://github.com/robolectric/robolectric/files/8791878/01-test.zip)

Run unit test, when I try to get context in unit test:
mContext = Applicatio

[2022-05-28 14:08] utzcoz commented on #7337
The Robolectric 4.4 has this problem, but this problem was fixed from Robolectric 4.5. Please use latest Robolectric version. 4.4 is too old for us, and we don't maintain it.

[2022-05-28 14:10] ivasku commented on #7337
I tried using other versions, 4.5 also but others like 4.6.1, 4.8 but the same issue appears.

[2022-05-28 14:12] utzcoz commented on #7337
@ivasku Please follow https://github.com/robolectric/robolectric/wiki/How-to-Report-Issues to provide a minimal reproduce demo with Robolectric 4.8.1 for this problem.

[2022-05-28 14:17] ivasku commented on #7337
Updated. Also already searched for 3 days on stack overflow and other sources.

[2022-05-28 21:07] ivasku commented on #7337
I have attached an Android studio project where this issue can be reproduces. Just run all the unit tests and you will notice.

[2022-05-29 05:00] hoisie commented on #7337
@ivasku looks like the shared pref name has a new line at the end:

<img width="324" alt="image" src="https://user-images.githubusercontent.com/125547/170852895-ea7b5f5d-053b-4ec0-884a-04e1b100fb22.png">

My guess is that this does not work on Windows (maybe it works fine on Linux/Mac). Calling `trim()` should fix it.

In Robolectric tests run on the host JVM, which has slightly different behavior

[2022-05-29 05:11] hoisie commented on #7333
Added a new discussion: https://github.com/robolectric/robolectric/discussions/7338

[2022-05-29 05:11] #7333 closed

[2022-05-29 12:47] ivasku commented on #7337
@hoisie you are correct, when I do trim() on the encoded file name, all unit tests pass! So basically I need to check file names, everything that has contact with file system if this error reoccurs again ? I did not try to run unit tests on the whole project but wanted to know if only this part is sensitive ?

[2022-05-29 13:44] hoisie commented on #7337
Yeah when it comes to file names Windows has different restrictions. I recall that Windows also does not allow colons on file names.

I am not sure which other parts of your project may have issues. The JVM is quite consistent across OS's, but there are some idiosyncrasies like this.

Anyway closing the issue.

[2022-05-29 13:44] #7337 closed

[2022-05-29 23:24] hoisie commented on #7327
Just a couple of thoughts on this.

The issue is that `isHeading` is not implemented in [ShadowAccessibilityNodeInfo](https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowAccessibilityNodeInfo.java). However, after taking a cursory glance at ShadowAccessibilityNodeInfo, that shadow violates the number one rule of shadows, which is you

[2022-05-30 06:44] hoisie commented on #7326
@Nodrex maybe you need to use `Shadows.shadowOf(Looper.getMainLooper()).idle();`. I would not recommend using LEGACY looper mode, it breaks everything in subtle ways, such as AndroidX fragments.

Can you put up a sample app that demonstrates the issue? RxJava is mostly a Java library that does not rely on many Android specific features so it should work fine in a Robolectric environment.

[2022-05-30 06:47] hoisie commented on #7300
This is the real code:
[code]

https://cs.android.com/android/platform/superproject/+/master:frameworks/base/core/java/android/os/Environment.java

You are correct it has to be shadowed using `ShadowEnvironment`. Robolectric does not support system services such as `AppOpsManager`, which seems to be used here.

Would you be up for sending a PR to support this API?

[2022-05-30 09:00] MuntashirAkon commented on #7300
I would, but I am not actually sure what to return here. `false` only?

[2022-05-30 09:21] Nodrex commented on #7326
Thanks for the answers @utzcoz @hoisie
We already fixed it by injecting `TestScheduler()` and calling `testScheduler.triggerActions()` after function call.
So I am closing this issue

[2022-05-30 09:21] #7326 closed

[2022-05-31 06:29] hoisie commented on #7327
FYI I have a pending fix for this which deletes some parts of ShadowAccessibilityNodeInfo

[2022-05-31 06:33] hoisie commented on #7300
The first issue seems to be that this line is broken:

[code]

Weirdly this seems to be shadowed:
https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowEnvironment.java#L289-L292

Seems like it can be populate using this API:
`ShadowEnvironment.addExternalDir(String path)`

https://github.com/robolectric/robolectric/blob/master/shadows

[2022-05-31 06:35] hoisie commented on #7321
Thanks for the detailed report, I will take a closer look at this tomorrow.

RE `custom Typefaces are not working in Robolectric`:
This is correct. At the moment the Android Typeface code is just all fakes and no-ops in Robolectric. In real Android this is handled in native code by Skia and Minikin. However, Robolectric does not support that at the moment.

[2022-05-31 07:57] Umesh-01 commented on #6753
I think @Abdulrahman1890 is not working on this issue. I would like to pick this, Can I @hoisie @utzcoz ??

[2022-05-31 08:13] utzcoz commented on #6753
@Umesh-01 no problem. Just resolving it locally and sending PR.

[2022-06-02 05:06] hoisie commented on #6753
You can see which files need to be modified:

[code]

And then just remove the NO_REBUILD references from that file.

[2022-06-02 12:30] utzcoz opened #7346 "Rename top project's name from "parent" to "robolectric""
### Description

As @ZSmallX suggested, we can use "robolectric" for top project's name when importing from Android Studio. And some folks have been confused by current "parent" name many times when switching recent projects from Android Studio's menu. It's better if we can change its name and reduce this annoying thing.

### Steps to Reproduce

Importing current source code from Android Studio.

[2022-06-02 15:44] hellosagar commented on #7346
Can I raise the PR for this?

[2022-06-02 15:49] hellosagar commented on #7346
https://github.com/robolectric/robolectric/pull/7347

[2022-06-03 12:30] Aleksander3007 opened #7350 "kotlin withTimeout() doen't work"
### Description
Method kotlinx.coroutines.withTimeout doesn't throw a TimeoutCancellationException. The test is working until junit timeout is not triggered. If I run this test without roboelectric that withTimeout works as expected.

### Steps to Reproduce
[code]

### Robolectric & Android Version
robolectric = 4.8.1
compileSdkVersion = android-31
targetSdkVersion = 31
minSdkVersion = 21

### Lin

[2022-06-03 16:30] ArunYogeshwaran commented on #440
@Config(qualifiers = "en-land") works now

[2022-06-03 18:12] hellosagar opened #7351 "Project build failing with "buildICU""
### Description

I'm trying to build a project but it keeps failing with the error below, I'm trying to build the project with the latest source code on `master` branch

[code]

This is version of `Android Studio` using to build the project
[code]

### Steps to Reproduce
Try to build the project

### Robolectric & Android Version
Latest master branch.

### Link to a public git repo demonstrating t

[2022-06-03 18:18] hellosagar commented on #7351
![Uploading image.png…]()

[2022-06-04 05:11] utzcoz commented on #7346
Fixed by https://github.com/robolectric/robolectric/pull/7347.

[2022-06-04 05:11] #7346 closed

[2022-06-04 07:29] hellosagar commented on #7351
After deleting the build generated files and folder, and rebuilding it again it worked, specifically from `external/icu/ecu4c/source/`

<img width="373" alt="Screenshot 2022-06-04 at 12 57 01 PM" src="https://user-images.githubusercontent.com/50016799/171989381-ebb8f0cc-180c-4d5a-8ce2-d0e855153c32.png">

[2022-06-04 07:30] hellosagar commented on #7351
I will try to replicate it if It happened again, for now closing it

[2022-06-04 07:30] #7351 closed

[2022-06-04 14:49] hoisie commented on #7351
Yeah if this happens you need to go into `nativeruntime/external/icu/icu4c/source` and ru`./runConfigureICU --enable-static --disable-shared`

[2022-06-04 16:43] hellosagar commented on #7351
ahh okay, if this happens again I will try that out, but what does this command means `./runConfigureICU --enable-static --disable-shared`

[2022-06-04 17:13] hoisie commented on #7351
Just for some background:

ICU is a unicode library and is a dependency of Android's sqlite library, which is used by Robolectric for SQlite operations:
https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowNativeSQLiteConnection.java
https://github.com/robolectric/robolectric/blob/master/nativeruntime/src/main/java/org/robolectric/nat

[2022-06-06 00:59] #6753 closed

[2022-06-06 17:57] TarasMazepa opened #7359 "Reduce memory footprint when tests are using multiple different SDK levels"
Is there way to reduce amount of RAM used by Robolectric when running tests which are using multitude of different SDK levels?

I suspect that Robolectric loads jars on demand when test requests it. I'm wondering if there anything that could force Robolectric to lose reference to the jar so it would be garbage collected?

[2022-06-06 21:26] hoisie opened #7360 "Use java.lang.Arrays in ShadowMediaMuxerTest.java"
It is using org.bouncycastle.util.Arrays;

https://github.com/robolectric/robolectric/blob/master/robolectric/src/test/java/org/robolectric/shadows/ShadowMediaMuxerTest.java#L16

[2022-06-06 22:56] TarasMazepa commented on #7359
Or as an alternative for me, can you show where is jar loading logic is, so I can try to add this logic myself into my fork, without contributing to upstream.

[2022-06-07 18:32] hellosagar commented on #7351
on the internet, I found this? but what does exactly Unicode library means?

<img width="1401" alt="Screenshot 2022-06-07 at 11 58 50 PM" src="https://user-images.githubusercontent.com/50016799/172456106-4080a93f-28c4-4f71-8137-f5b2312a01e0.png">

On running this `./runConfigureICU --enable-static --disable-shared` it says
[code]
<img width="831" alt="Screenshot 2022-06-08 at 12 01 19 AM" src="htt

[2022-06-07 22:26] hoisie commented on #7351
Whoops that shoudl be `./runConfigureICU Linux --enable-static --disable-shared`

ICU is a massive library that lets you work with unicode characters, which are over 100k different characters that let you represent things like words in different languages and symbols.

In the context of Robolectric, it is only used in one place - the sqlite library. It lets you compare strings across different loc

[2022-06-08 14:33] realdadfish opened #7367 "Espresso closeSoftKeyboard() action lets Robolectric time out on IdlingResource"
### Description
I recently upgraded Robolectric from 4.7.2 to 4.8.1 and some of my UI tests are failing with the following exception:

[code]

I suspect this is because Robolectric now pauses the main looper for registered idling callbacks as well and waits for them to complete (https://github.com/robolectric/robolectric/pull/7148). I still have to figure out why exactly the internal idling resour

[2022-06-08 15:10] realdadfish commented on #7367
Switching temporarily to `@LooperMode(LooperMode.Mode.LEGACY)` circumvents the issue because the old looper code is not affected.

[2022-06-09 00:05] TarasMazepa commented on #7359
I have found a place where LRU cache size is configured.

https://github.com/robolectric/robolectric/blob/7697d1217c5eb0dee454004efe60ba219f398255/robolectric/src/main/java/org/robolectric/internal/SandboxManager.java#L37

So by changing this value it is possible to reduce memory footprint of the tests.

Interesting thing:
I have changed this value to 1 and did a perf test using `hyperfine` and th

[2022-06-11 06:04] #7327 closed

[2022-06-11 06:11] #7360 closed

[2022-06-11 11:19] thecb4 opened #7380 "Bad local variable type, at com.google.android.gms.location.LocationServices.getFusedLocationProviderClient"
### Description
Attempting to test Location Services with Robolectric and the FusedLocation Service with Google Play Services. Unclear what I am missing based on the documentation.

### Steps to Reproduce
Source code below

### Robolectric & Android Version
android compile sdk = 31
android target sdk = 31
kotlin version = 1.5.31
jp compose version = 1.1.0-beta01
robolectric 4.8.1
robolectric shado

[2022-06-12 06:43] #7325 closed

[2022-06-12 07:05] utzcoz opened #7383 "Remove abi from GMD configuration after AGP 7.3 stable released"
### Description

Current GMD configuration uses `x86` and `x86_64` as abi for images used by GMD. They are needed for current AGP version. But `x86` and `x86_64` abi configuration will prevent Robolectric contributors/maintainers to run instrumentation tests on headless Emulator on macOS with apple silicon chip.  From https://issuetracker.google.com/issues/206963797?pli=1 and some PRs of android/t

[2022-06-12 07:17] utzcoz commented on #7383
Looks like the `abi` is removed by AGP 7.3 directly, and it will raise building error if we upgrade AGP to 7.3.0 without removing `abi` property.

[2022-06-13 06:33] hoisie commented on #7380
Seems to be related to https://github.com/robolectric/robolectric/issues/7269

TLDR is GMS core is shipping jar files to maven that have been desugared, which is a no-no, but I'm not sure we can do anything about that except not insrument their jar.

[2022-06-15 06:01] jnhyperion opened #7390 "File.separator is incorrect when running unit test on windows"
### Description

### Steps to Reproduce
Method to be tested:
[code]
Add assets in test:
test/assets/foo/bar.txt

Run test in windows:

[code]

Test will fail:

java.io.FileNotFoundException: foo\bar.txt

	at org.robolectric.shadows.ShadowArscAssetManager9.nativeOpenAsset(ShadowArscAssetManager9.java:733)
	at android.content.res.AssetManager.nativeOpenAsset(AssetManager.java)
	at android.content.re

[2022-06-18 03:54] utzcoz commented on #7390
@jnhyperion could you provide a minimal demo that can reproduce this problem?

[2022-06-18 05:53] utzcoz commented on #2612
In unreliable or restricted network, the dependency downloading job will be failed. If you are in company's restricted network, for example docker or other virtualization environment, you can setup your company's maven mirror to sync Robolectric's dependencies and other dependencies from public maven repository; If you don't want to/can't setup a maven mirror, you can try to write some scripts to

[2022-06-18 05:53] #2612 closed

[2022-06-18 21:00] JosephRoskopf opened #7408 "Room unit test fails on M1 but passes on Intel Macbook / CI"
### Description

I have created a sample project with a unit test around Room migrations that fails on a M1 machine, but passes on my Intel laptop.

We first noticed this on our team when a PR was merged in that started to fail locally for our developers with M1 machines.

| Intel | M1 |
| - | - |
|<img width="588" alt="Screen Shot 2022-06-18 at 3 48 13 PM" src="https://user-images.githubuserconte

[2022-06-18 21:03] JosephRoskopf commented on #7408
I also tried the sample project with the latest Robolectric version (4.8.1) and the issue still persists.

[2022-06-19 02:25] utzcoz commented on #7408
@JosephRoskopf The failure reason is the validation for your new table `task_events` failed, because of your created table by SQL sequences in your migration method doesn't include indexes defined in your `TaskEntity`. You can append next SQL sequences in your migration method and the test will pass:

[code]

I have tested it on M1 machine with command `./gradlew testDebug`(Looks like you don't se

[2022-06-19 04:15] #7036 closed

[2022-06-19 12:09] JosephRoskopf commented on #7408
@utzcoz Hey! that totally makes sense. I agree the M1 behavior is what I'd expect given the room migration isn't adding the key as defined in the entity. However, I thought this was a Robolectric issue because once Robolectric is taken out of the equation, the behavior no longer exists.

On the most recent commit of that sample project (https://github.com/JosephRoskopf/RoomRobolectricTestFailure/c

[2022-06-19 12:38] utzcoz commented on #7408
It fails maybe because of your test is not correct, and can't be run on real device, it is not related your M1 or intel  device, and it is only related to the Emulator you run.

The failure on M1 maybe because of the sqlite implementation/faker that room-testing depends on has a different behavior on M1 than intel device. Actually, the in-memory database implementation for sqlite(sqlite4java) used

[2022-06-19 13:18] JosephRoskopf commented on #7408
I agree the overall behavior of the app / test is not correct, but I'd expect the results of running the test (via instrumentation test) on a real device without Robolectric to be the same as the results of running the test (via unit test) on my laptops with Robolectric. I definitely don't have a great understanding of how Robolectric + Room are interacting in this scenario, but I am also unsure o

[2022-06-19 13:22] utzcoz commented on #7408
@JosephRoskopf Could you run it on M1 with different `SQLiteMode`? If there are exception stack(not the same validation error we have observe d before ), you can post it here.

[2022-06-19 13:26] JosephRoskopf commented on #7408
@utzcoz running the test on my M1 with `LEGACY` yields the following error:

[code]

Running with the `NATIVE` mode provides the same validation error we have observed before

[2022-06-19 13:30] utzcoz commented on #7408
@JosephRoskopf Looks like Robolectric uses `NATIVE` mode on M1 default(https://github.com/robolectric/robolectric/commit/4043d1969ed116dde49490cebf37a40dfa9307b3), and `NATIVE` mode causes your test failed. Thanks for testing, I will investigate it with your demo. It's recommended to add explicit index command for your room migration as a workaround before this problem fixed and released.

[2022-06-19 13:32] JosephRoskopf commented on #7408
It is definitely appreciated! Thank you again for the help. Please let me know if there is anything else I can help with

[2022-06-19 13:37] hoisie commented on #7408
I vaguely recall seeing this issue once when migrating tests at Google to use mat ve SQLite. Its possible that it's a bug in Room itself. Room may have some Robolectric specific logic that may depend on legacy SQLite.

[2022-06-19 14:03] utzcoz commented on #7408
@hoisie Some room core libraries, like `androidx.room:room-compiler`, depends on `org.xerial:sqlite-jdbc` which is forked from `com.almworks.sqlite4java` that Robolectric uses for legacy SQLite supporting.

[2022-06-19 15:15] utzcoz commented on #7408
In `LEGACY` mode, the room will generate null indices because it can't get column index of `origin`. And room's `TableInfo#equals` will returns true when validation with `talbeInfo.indices == null`:

[code]

But in `NATIVE` mode, the room can generate `origin` column index and generate valid indices, and above `equals` will return false when validation, and it causes the failure exception we have

[2022-06-19 19:45] hoisie commented on #7408
We should probably default to native sqlite everywhere we can. It won't work on Windows for now, though, but I think that tradeoff is worth it.

[2022-06-23 06:15] rgautam1602 commented on #3023
I am also facing this issue with android studio chipmunk,could someone please let me know how to resolve

[2022-06-23 14:13] hoisie commented on #3023
Can someone provide clear repro instructions for this `Bad return type error`? Does it happen on any trivial Robolectric test?

[2022-06-23 16:44] wu-hui opened #7413 "Cannot restart SQLite connection on Apple M1"
### Description
A exception is thrown when trying to get a connection to a DB even after a previous connection is closed. This only happens on M1 hardware, other platforms are all ok.

### Steps to Reproduce
Simply run the test from the repo below

### Robolectric & Android Version
See below link

### Link to a public git repo demonstrating the problem:

https://github.com/wu-hui/RobolectricSqlite

[2022-06-23 17:03] mateot1 commented on #7262
Not sure if the Compose `SwipeRefresh` uses `SwipeRefreshLayout` under the hood, but I recall reading this SO post about it relying on animations that don't actually run in robolectric: https://stackoverflow.com/questions/55517269/android-espresso-testing-swiperefreshlayout-onrefresh-not-been-triggered-on-swip

[2022-06-24 03:16] utzcoz commented on #7413
@wu-hui M1 uses native SQLite mode default, and other arch machines uses legacy SQLite mode default. Maybe it is a problem of native SQLite mode. Thanks for reporting this problem, and I will check it this weekend.

[2022-06-24 03:42] jnhyperion commented on #7390
@utzcoz https://github.com/jnhyperion/RobolectricDemo

unit test: robolectric.demo.test.ExampleTest#testExample

will pass on Mac and fail on windows

[2022-06-24 03:55] hoisie commented on #7413
What happens when that test is run on real Android?

Not sure if this is related, but in Robolectric, the default sync mode is set to OFF (equivalent to`PRAGMA synchronous=OFF`). This is because all dbs are blown away after each test method, so it is not imperative to wait for a fsync when writing data. It is also a MASSIVE performance improvement (50%)? See #6687 and #6690

[2022-06-24 13:46] Shrujeesh commented on #3023
I am using Android Studio Chipmunk
Robo electric version 4.2.1

huh? java 11, need help!
java.lang.RuntimeException: huh? java 11, need help!
	at org.robolectric.util.reflector.UnsafeAccess$Danger11Plus.throwException(UnsafeAccess.java:92)
	at org.robolectric.util.reflector.UnsafeAccess.throwException(UnsafeAccess.java:30)
	at org.robolectric.internal.bytecode.Sandbox.runOnMainThread(Sandbox.java:

[2022-06-25 08:06] utzcoz commented on #7413
I sent a PR to add test for EXCLUSIVE mode, and [it](https://github.com/robolectric/robolectric/pull/7416) can confirm that close and then open database by `SQLiteOpenHelper` can work with EXCLUSIVE mode on Emulator and Robolectric's legacy SQLite mode, but failed on native SQLite mode. It can be used for later investigation.

[2022-06-25 14:19] utzcoz commented on #7390
@jnhyperion You can replace `File.separator` with "/" when creating path for Android's assets, because Robolectric stores file path with "/" as path separator. I have tested your test with "/" on Windows, and it can work.

The test can pass on macOS because macOS is *NIX system, and it uses "/" as file separator, the same as Linux and Android.

@hoisie Should we add support Window's `File.separato

[2022-06-26 16:04] JagadishaIncture commented on #6521
worked

[2022-06-26 20:18] adicoder95 opened #7420 "How about migrating the project from java to kotlin."
Kotlin based apps can perform better, thus making the app smoother.
I am a Kotlin developer and I would love to contribute in this project.

[2022-06-27 09:13] cainiaoxiaomin commented on #5597
Is there a solution to this problem?
i also meet this problem
only use robolectric 4.5.1 and includeAndroidResources = false  can work
but because  includeAndroidResources = false, setcontentview in activity can not work

[2022-07-02 13:43] #6885 closed

[2022-07-02 14:20] utzcoz opened #7428 "whenExplicitlySetOnActivity_beforeSetContentView_activityUsesNewTheme flaky on CI's Emulator testing"
### Description

See https://github.com/robolectric/robolectric/runs/7162405840?check_suite_focus=true.

### Steps to Reproduce

See https://github.com/robolectric/robolectric/runs/7162405840?check_suite_focus=true.

### Robolectric & Android Version

Robolectric master branch.

### Link to a public git repo demonstrating the problem:

Robolectric itself.

[2022-07-02 15:38] utzcoz commented on #7428
It can be passed after multiple run trying. Hi @hoisie is there any annotation/test rule to retry tests if failed? I have searched, and found many folks write rule for themself. What about adding a retry testing rule based on JUnit4 for our Espresso test to reduce CI's flaky noise?

[2022-07-03 07:21] jhwsx commented on #7286
4.8.1 REALLY works.

[2022-07-03 13:10] utzcoz commented on #7420
We don't want to convert the entire project to Kotlin with now compatibility concerning. And @hellosagar is trying to migrating some tests from Java to Kotlin for testing purpose at GSoC 2022 project. We will decide to whether to continue converting other tests from Java to Kotlin after GSoC project finished based on this project's experiment. Before that, we're caution to convert files from Java

[2022-07-03 13:10] #7420 closed

[2022-07-03 13:14] utzcoz commented on #7308
@cheers-huang Could you attach a reproduceable-demo by following https://github.com/robolectric/robolectric/wiki/How-to-Report-Issues?

[2022-07-04 13:27] utzcoz commented on #7428
Maybe adding `-no-snapshot-save` and setting `disable-animations` to true can help to reduce flaky.

[2022-07-06 02:19] utzcoz commented on #7041
@seadowg Looks like [AndroidX Test  adds a lint to check unclosed `ActivityScenario`](https://github.com/android/android-test/pull/1411).

[2022-07-06 07:46] seadowg commented on #7041
That'll definitely when it's released!

[2022-07-06 12:04] azabost opened #7432 "Is sharedTest pattern still supported after Android Gradle Plugin 7.2.0?"
Hi. I've just spotted this pattern on Robolectric's website: http://robolectric.org/blog/2021/10/06/sharedTest/

However, I recently stumbled upon the release notes for Android Gradle Plugin 7.2.0 ([link](https://developer.android.com/studio/releases/gradle-plugin#duplicate-content-roots)) which say:

Therefore, I would like to know if this pattern is still advisable and expected to work with AGP

[2022-07-06 13:35] hoisie commented on #7432
Cc @JoseAlcerreca

[2022-07-08 14:28] utzcoz commented on #7432
I have a draft PR to bump AGP to 7.3 for Robolectric https://github.com/robolectric/robolectric/pull/7384, and sharedTests in Robolectric's `ctesque` are run correctly.

[2022-07-08 15:30] utzcoz commented on #7432
Looks like it's an IDE problem, and the warning is shown by Android Studio from chimpunk. And developers can't run tests from Android Studio if testes are under sharedTest directory. I will attach Google Issue link about this restriction tomorrow. The AGP team recommends to use library module for sharedTest.

[2022-07-08 16:52] kingargyle commented on #7432
The problem is the the sharedTest module, doesn't actually work in a lot of cases.    The IDE handled it fine before and it is a standard gradle feature to be able to define multiple source folders.   This seems more like an issue that the IDE doesn't want to support for internal reasons or something.    They should support what the tooling they use supports.

[2022-07-09 04:09] utzcoz commented on #7432
From https://issuetracker.google.com/issues/232007221#comment6, one Googler said they switch to create a separate module for different source set by following Intellij IDEA, and this change breaks the support for sharedTest pattern because sharedTest directory is loaded twice.

From https://issuetracker.google.com/issues/232007221#comment26, a Googler recommends https://issuetracker.google.com/iss

[2022-07-09 07:56] utzcoz commented on #7432
There are two issues from Intellij IDEA community: https://youtrack.jetbrains.com/issue/IDEA-210908#focus=streamItem-27-3407169.0-0, https://youtrack.jetbrains.com/issue/IDEA-210311#focus=streamItem-27-3407352.0-0.

[2022-07-09 14:47] utzcoz commented on #7252
Looks like we can build Robolectric on Windows now by following official tutorial after https://github.com/robolectric/robolectric/pull/7418 merged. @Umesh-01 you can try it, and I will close this issue. If it doesn't work for you, you can reopen it.

[2022-07-09 17:55] Umesh-01 commented on #7252
Hello @utzcoz
I am still getting the same error.

![image](https://user-images.githubusercontent.com/83420185/178117355-e64194dc-b23c-47ee-a799-c604bedef929.png)

[2022-07-10 03:04] utzcoz commented on #7252
@Umesh-01 Actually the ` configureICU` has run but it failed with error "non acceptable C compiler found in $PATH". Looks like your C and C++ compiler toolchain doesn't been configured correctly. It's another problem, instead of `configureICU` not found problem.

[2022-07-10 08:47] utzcoz opened #7439 "Call Robolectric.buildActivity in ShadowActivityTest with Java's try-with-resource grammer to close ActivityController after test"
### Description

There are some direct callings of `Robolectric.buildActivity` in `ShadowActivityTest` without `try-with-resource` grammer to close `ActivityController` after usage, and the Android Studio shows some warnings for us. It's better if we can use `try-with-resource` to auto-close `ActivityController` after test.

### Steps to Reproduce

Using Android Studio to open Robolectric's `Shado

[2022-07-10 08:49] Umesh-01 commented on #7252
C & C++ compiler's path is already present in Environment Variable (PATH). Do I have to do something else @utzcoz ??

[2022-07-10 08:51] utzcoz commented on #7252
Maybe they can't be used by MingW/MSYS2 as your above screenshot log showing. You can try to search how to configure C and C++ compiler for MingW/MSYS2.

[2022-07-10 09:04] Umesh-01 commented on #7252
I have installed a GCC compiler. Now, I am getting this error:

![image](https://user-images.githubusercontent.com/83420185/178138310-a68c68d4-bd0a-47be-b3b5-49e1912e69a7.png)

![image](https://user-images.githubusercontent.com/83420185/178138290-6f3402cf-abad-4ea0-be31-68c2d109d34d.png)

[2022-07-10 09:07] Umesh-01 commented on #7252
@utzcoz can you reopen this issue from your end?? I don't have any option at my side to reopen it.

[2022-07-13 20:36] jasco commented on #7055
I observed the same kind of problem using compose 1.2.0-beta02.  I realize this is a little light on details without including my full dependency list.  I just wanted second the observation that there might be a race condition and also report that changing compose/compose-compiler/kotlin appeared to fix this particular failure, in my case.

My observations included
a. tests were working until merg

[2022-07-18 19:26] grndvl1 commented on #7034
I see this issue with mine too.

[2022-07-19 23:01] hoisie commented on #7413
I think I have a fix for this.

I believe that [ShadowNativeSQLiteConnection](https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowNativeSQLiteConnection.java) was missing the `nativeClose` method. This means that the native side of the database was never relased. Yikes. Thanks for pointing this out.

A PR to fix this will be forthcom

[2022-07-20 15:25] francescocervone opened #7455 "Can't load fonts after updating to AndroidX Core 1.8"
### Description
After updating AndroidX Core from 1.7 to [1.8](https://developer.android.com/jetpack/androidx/releases/core#1.8.0) Robolectric fails to load fonts obtained by `ResourcesCompat.getFont`.
The test crashes with the following error:
[code]

### Robolectric & Android Version
Robolectric 4.8.1
Android 31

It works with Android 30

[2022-07-21 02:46] ganadist opened #7456 "Since Gradle 7.5, robolectric needs -add-opens options"
### Description
Since gradle 7.5 ( and Java 9+), jvm behavior of test runner was changed.
https://docs.gradle.org/7.5/userguide/upgrading_version_7.html#removes_implicit_add_opens_for_test_workers
[code]

On JVM 15 or lower version, test runner will just print  warnings.
But, on JVM 16 or higher version, test runner will failed by classloader

* Is it possible to add `--add-opens` jvm options auto

[2022-07-21 02:57] hoisie commented on #7456
What is the actual error message that happens if you try to run a Robolectric test in Gradle 7.5? Ideally Robolectric should not be doing any illegal reflective operation.

[2022-07-21 03:38] ganadist commented on #7456
AFAIK, `robolectric runner` is just another Android Runtime.

For example, `Method.setAccessible()` is Java API, but it is also public API of Android Platform.
So, target code of test can include `Method.setAccessible()`
IMHO, robolectric should be able to invoke `Method.setAccessible()` without additional setting.

[2022-07-22 11:54] GabrielLasso opened #7459 "c migration test"
### Description

### Steps to Reproduce

### Robolectric & Android Version

### Link to a public git repo demonstrating the problem:

[2022-07-22 11:54] #7459 closed

[2022-07-22 21:12] eliascoelho911 opened #7461 "measureLimit (11) is out of start (0) and limit (0) bounds java.lang.IndexOutOfBoundsException: measureLimit (11) is out of start (0) and limit (0) bounds"
### Description
Hi!

I'm getting the following exception when I try to run a test with an interface with compose (note: when I run the same test on a device, it passes normally)

[code]

### Steps to Reproduce
[code]

### Robolectric & Android Version

- Robolectric : 4.8.1
- Compose: 1.1.1
- JDK 11

### Link to a public git repo demonstrating the problem:
https://github.com/eliascoelho911/BlueTax

[2022-07-25 23:42] hoisie commented on #5320
Fixed by https://github.com/robolectric/robolectric/pull/5985

[2022-07-25 23:42] #5320 closed

[2022-07-26 04:47] hoisie commented on #7461
`android.text.TextLine` seems to use `TextPaint`, which extends `Paint`, and this is all implemented in native code using Skia + Minikin + Harfbuzz I believe.

We may be able to improve the simulation here to not crash at least.

At the moment native graphics is not supported in Robolectric, but this is something we have been experimenting with a lot with recently.

[2022-07-26 11:40] eliascoelho911 commented on #7461
OK, thanks for clarifying. Is there anything I can do at the moment or will I have to test on the device myself?

[2022-07-26 16:15] hoisie commented on #7461
cc @jfresen

[2022-07-26 19:43] hoisie commented on #7461
This failure can be reduced down to this one-liner:
[code]

The error message is slightly different on newer SDK levels.

[2022-07-27 15:27] wu-hui commented on #7413
Can I get a release version and a date (if not yet released)? Thank you!

[2022-07-27 17:28] hoisie commented on #7413
I am willing to do a minor release, 4.8.2, with this fix and possibly a few others

[2022-07-28 10:05] MichalDanielDobrzanski commented on #4779
I dropped the base runner approach.

I created 2 bases classes annotated both with `@RunWith` and custom `@Config` setups.
Such base classes were used as parents for test classes.

My output is predictable now.

[2022-07-29 11:51] tinsukE opened #7472 "RoboCookieManager.removeSessionCookies(null) causes NPE"
### Description
Calling `RoboCookieManager.removeSessionCookies(ValueCallBack)` with a null `ValueCallback` results in a `NullPointerException`.

`CookieManager`s doc is quite clear that it is a valid use case:

https://developer.android.com/reference/android/webkit/CookieManager#removeSessionCookies(android.webkit.ValueCallback%3Cjava.lang.Boolean%3E)

One could argue that there is a `CookieManag

[2022-07-29 12:01] utzcoz commented on #7472
@tinsukE Good catch. Could you help to send a PR to fix it? I think it is easy to apply a null checking for this method.

[2022-07-30 08:28] vincent-paing commented on #7461
I'm also facing same problem with executing `performTextInput` method. Have you found a workaround?

[2022-07-30 12:06] eliascoelho911 commented on #7461
I'm not sure I understand exactly what it does. Does this code block populate the TextField?

[2022-07-30 12:07] eliascoelho911 commented on #7461
Unfortunately not. Currently I'm doing all the tests on the emulator.

[2022-07-31 03:46] #7041 closed

[2022-08-02 12:37] utzcoz commented on #7455
Hi @francescocervone , could you provide a minimal reproduce app for this problem by following https://github.com/robolectric/robolectric/wiki/How-to-Report-Issues? Thanks.

[2022-08-03 15:56] francescocervone commented on #7455
Hi @utzcoz. Here is a sample:
https://github.com/francescocervone/RobolectricIssue7455

[2022-08-05 03:16] WingsII opened #7479 "ShadowCountDownTimer not work"
### Description

If CountDownTimer is used in the code, robolectric will automatically use ShadowCountDownTimer, I found that it cannot trigger onTick() callback. And its internal data (mHandler, etc.) are empty.
![image](https://user-images.githubusercontent.com/35595855/182993221-eabab3c3-f4d0-4842-a74b-f2f38ea736b8.png)
![image](https://user-images.githubusercontent.com/35595855/182993264-a7eb8

[2022-08-05 05:28] utzcoz commented on #7479
Hi @WingsII , 4.2.1 is old in a sense. Could you try latest 4.8.1 to check whether this problem was fixed? I remember there are some fixes were checked in for time. Looking forward your feedback. Thanks.

[2022-08-05 09:21] WingsII commented on #7479
After testing, this problem still exists on the latest version.

### Robolectric & Android Version
Robolectric : 4.8.1
JDK 11.0.11

[2022-08-05 14:24] hoisie commented on #7479
Ah good catch. I notice that ShadowCountDownTimer's `__constructor__` shadow method does not invoke the original constructor. This ruins the normal object initialization process and leaves a lot of the members uninitialized. It should have a call to Shadow.invokeConstructor.

https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowCountD

[2022-08-05 14:51] hoisie commented on #7479
@WingsII from the shadow API it appears thata you have to call ShadowCountDownTimer.invokeTick:

https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowCountDownTimer.java#L34-L36

[2022-08-05 14:53] hoisie commented on #7479
Looks like the real code uses SystemClock.elapsedRealtime(), which gives a virtual/fake time in Robolectric. However, it should be possible to idle the scheduler to invoke the ticks.

[2022-08-06 01:34] WingsII commented on #7479
There are several points:
1. In the real environment, CountDownTimer is a local variable and cannot be called directly.

2. I tried to write ShadowLooper.idleMainLooper(*); but it still doesn't work actually.

3. According to the source code, as long as it is initialized correctly, when CountDownTimer::start() is used, onTick() will be called once.

4. Now the core question is, why after the Shado

[2022-08-06 05:11] hoisie commented on #7479
It is because the constructor of CountDownTimer is shadowed in ShadowCountDownTimer (the `__constructor__` method). I would agree that this is a bug. The `__constructor__` method should call the original constructor as well.

[2022-08-06 05:15] hoisie commented on #7479
Specifically, the constructor should probably be doing this:

[code]

[2022-08-06 09:45] WingsII commented on #7479
It works, great!

[2022-08-06 09:46] #7479 closed

[2022-08-08 07:13] kesc11 commented on #5428
I can run in idea, but I can't run it after it is packaged into jar. I got an error that may be Jackson's dependency. Your answer saved me, although I don't know what happened

[2022-08-10 08:28] Bezkarpie commented on #7432
I think I understand the idea behind sharedTests in issuetrackers provided by @utzcoz
There's also an example, which is great...
But how in the world are we supposed to use it for Robolectric's shared tests?
From this example I assume we can share parts of code and use them in both androidTest and test, but they still must be used in tests created in a normal way in main :app module, so in its own

[2022-08-11 13:35] Kisty opened #7494 "Multiple custom test apps set ups overrun to the next set of pages"
### Description
Having an issue with running Activities with multiple data scenarios but when I annotate the tests with different apps in `@Config(application = ...)` and put the custom test objects for different scenarios. The first UI test will be fine, however the next would still have leftover data from the first test app scenario, not calling `before()` or `prepare()` before the next Activity

[2022-08-11 15:39] Kisty commented on #7494
Added the simple repo demo this issue.

### MainActivityDefaultTest
[code]

MainActivityTestAppBTest
[code]

`ExampleUnitTest` & `MainActivityTestAppATest` passes though, and TestAppA test is ran as the last test

[2022-08-12 17:32] wu-hui commented on #7413
Do we know roughly when 4.8.2 will be out yet? Thanks!

[2022-08-13 05:31] utzcoz commented on #7413
Sorry for delaying. Maybe we can cc @hoisie and @JuliaSullivanGoogle.

[2022-08-16 07:27] JohnZhang1000 commented on #5456
I meet a problem when use ./gradlew testDebugUnitTest  to run my unittest

in Ubuntu 18.04.5
I used robolectic 4.7.3
my jdk version is 9.0.1 Java(TM) SE Runtime Environment (build 9.0.1+11)

Although the android-all-instrumented-12-robolectric-7732740-i3 it has been placed on the correct path of .m2

When I run the testDebugUnitTest and I got this error info:
 java.lang.AssertionError at MavenArti

[2022-08-16 08:01] utzcoz commented on #5456
@JohnZhang1000 Could you file a new issue with a minimal reproduce app? Also you can try https://github.com/utzcoz/robolectric-android-all-fetcher to download and fetch all dependencies locally and then re-run tests. It will help to avoid special network problem.

[2022-08-16 21:37] AlexanderGH commented on #6443
Just wanted to bump and +1 this issue. A use-case is to use the system clock and wall clock together to create a monotonically increasing wall clock (that ignores the system or user changing the wall time). For this, you need separate control of wall time and system clock time. A similar request would make sense for both network and GNSS time: you may want to test code that resolves differing valu

[2022-08-17 13:07] Jagadeshmr commented on #3023
I have been facing the same issue with chipmunk studio version, have anyone got the solution

[2022-08-18 06:34] alixwar commented on #5456
https://github.com/robolectric/robolectric/issues/5456#issuecomment-1096432087

Unfortunately I can still see this problem even with the workaround in place.
My config:
- Robolectric 4.8.1
- androidx-test-junit 1.1.4-alpha07
- androidx-test-monitor 1.6.0-alpha04
- androidx-test-runner 1.5.0-alpha04

[2022-08-18 14:26] hoisie commented on #5456
@alixwar and anyone else experiencing this -- can you file a new issue with a sample app that demonstrates the problem? The root cause of this issue has already been fixed (Unless you are manually reordering security providers).

[2022-08-18 14:45] alixwar commented on #5456
Ok, I've moved on and found a way to circumvent the problem (it was triggered by having one of the test classes configured to use a different Android version - which was a workaround for another, now fixed bug). I don't think it's trivial to create a reproducer for this problem unfortunately.

I did discover this old workaround as well in some test classes, which I could now safely remove. Maybe t

[2022-08-19 03:11] ptptptpts opened #7543 "Suggest to support SHA512 and other modern metadata"
### Description

Hi Robolectric,

Does Robolectric have a plan to support SHA512 and other metadata when it download a Android dependency jar from a maven?

Our office is blocked from an external network by a proxy and internal cert, so we used an offline mode to use a robolectric.
I tried to change it to download a Android dependency jar from our internal maven mirror, but it downloads only SHA51

[2022-08-19 03:35] hoisie commented on #7543
Yes I think we can update these to check the sha512 hashes. Since we started using preinstrumented jars, all of the sha512 hashes are available.

[2022-08-19 12:21] JohnZhang1000 commented on #5456
thank you very much ,@utzcoz  I solved this problem by using this,but changed a proxy mirror:
unitTests.all {
        it.systemProperty("robolectric.dependency.repo.id'", "mavenCentral")
        it.systemProperty("robolectric.dependency.repo.url", "https://repo1.maven.org/maven2")
    }

[2022-08-22 09:00] ptptptpts commented on #7543
Thank you, @hoisie 👍

[2022-08-22 17:13] #7413 closed

[2022-08-22 22:36] hoisie commented on #7413
FYI 4.8.2 was just released that contains this fix.

[2022-08-22 22:38] wu-hui commented on #7413
Thank you!

[2022-08-24 19:05] UlrichLa commented on #3023
I have the same issue with the "huh? java 11, need help!" error and found a temporary solution:
Delete the "%USERPROFILE%\m2\repository\orgrobolectric\android-all\9-robolectric-4913185-2\android-all-9-robolectric-4913185-2.jar" file. After that it downloads it durring the testrun again and it works on myside, but only once. For the next testrun you must delete again.

P.S.: I'm new to the topic, s

[2022-08-25 12:00] antonshkurenko commented on #2007
Will it be solved at any time?

[2022-08-25 13:12] utzcoz commented on #2007
@antonshkurenko Could you check latest Robolectric 4.8.2 for this problem? If this problem still exists, please file a new issue with a minimal reproducible app. Thanks.

[2022-08-25 13:14] utzcoz commented on #4947
@DevDema What's your running platform? If it is not Windows, what about trying SQLiteMode.NATIVE to validate this problem again? It brings a native SQLite implementation for Robolectric. Hi @hoisie , do think native SQLite can resolve this problem?

[2022-08-25 13:47] hoisie commented on #4947
I believe this is only a problem with legacy SQLite, not native SQLite.

[2022-08-27 13:44] DHosseiny commented on #6635
Now, when robolectric works with target 33?

[2022-08-27 14:51] AlexanderGH opened #7556 "Improve configuration documentation for non-Gradle/Bazel?"
I wanted to confirm expected default behavior for robolectric that seems to be undefined in the documentation at http://robolectric.org/

Specifically, with the paused looper mode, what is the expected behavior of:
[code]
Is it expected that System.* is instrumented/intercepted to delegate to ShadowSystem by default? Or does this require special configuration?

If I try to use `@Config(instrumente

[2022-08-27 15:15] utzcoz commented on #7556
There are two examples of integrating Robolectric with Bazel: https://github.com/bazelbuild/rules_jvm_external/tree/master/examples/android_local_test and https://github.com/bazelbuild/rules_jvm_external/tree/master/examples/kt_android_local_test. Robolectric provides bazel package at https://github.com/robolectric/robolectric-bazel, and we can use `android_local_test` or `kt_android_local_test` t

[2022-08-27 15:47] AlexanderGH commented on #7556
https://github.com/bazelbuild/rules_jvm_external/tree/master/examples/android_local_test still uses the native bazel/blaze code and not skylark AFAICT, in which I was unable to find where/how it configures instrumentation. I also don't know if it does: I have never actually used bazel (or gradle), only blaze, which has a lot of google-internal-only configuration. The kotlin one eventually also del

[2022-08-30 01:04] #7472 closed

[2022-08-30 01:19] utzcoz opened #7559 "Add missed tests for RoboCookieManager's null ValueCallbacks input."
See https://github.com/robolectric/robolectric/pull/7473.

[2022-08-30 01:29] utzcoz commented on #5877
This problem was fixed by https://github.com/robolectric/robolectric/commit/9eaf0e42bfdcca4785c38b9c9871acf8d49d3b7c. After it is been merged into master branch, we can close this issue.

[2022-08-30 15:18] neworld commented on #7455
It prevents us from upgrading almost any androidx library and dagger.

After short investigation I found one method was changed:
[code]

I have no idea what `value.assetCookie` is, but I suppose some shadowed method was overridden. Or maybe, because `TypefaceCompat.createResourceUid` changed generated ID

[2022-08-30 17:34] hoisie commented on #7455
Weird how we didn't come across this issue yet.

This seems to be the root cause stack trace that is thrown and caught here:
https://cs.android.com/androidx/platform/frameworks/support/+/androidx-main:core/core/src/main/java/androidx/core/graphics/TypefaceCompatApi29Impl.java;l=117-122?q=%22new%20Typeface.CustomFallbackBuilder(family)%22

[code]

[2022-08-30 20:11] hoisie commented on #7455
FYI here is a more minimal repro of this issue.

Add to https://github.com/robolectric/robolectric/blob/master/integration_tests/ctesque/src/sharedTest/java/android/content/res/ResourcesTest.java

I am a little surprised AndroidX fonts ever worked at all...

[code]

[2022-08-31 04:32] hoisie opened #7562 "RobolectricTestRunnerMultiApiTest causing massive amounts of noise in Gradle tests"
`./gradlew :robolectric:test --tests='*RobolectricTestRunnerMultiApiTest*'`

`less ./robolectric/build/reports/tests/test/classes/org.robolectric.RobolectricTestRunnerMultiApiTest.html`

There are a lot of noisy log statements which make it impossible to read test output in GitHub CI.
[code]

[2022-08-31 04:44] utzcoz commented on #7562
@hoisie We can try-catch `ResType.inferFromValue` or upper calling chain to ignore this error with error-message only.

[2022-08-31 04:48] utzcoz commented on #7390
@jnhyperion you can write a util method to use `/` as file separator, and it can work on all platforms, including Windows. Feel free to reopen this issue if you have any questions. Thanks.

[2022-08-31 04:48] #7390 closed

[2022-08-31 04:52] utzcoz commented on #7408
Could we contact Room team to discuss this problem?

We can enable native SQLite for Linux at next step, and keep Windows with LEGACY mode. We also can document it at robolectric.org.

[2022-08-31 04:56] utzcoz commented on #7380
Hi @thecb4 , looks like this issue is related to https://github.com/robolectric/robolectric/issues/7269 as @hoisie said at https://github.com/robolectric/robolectric/issues/7380#issuecomment-1153527608. You can pose your questions at that issue, and feel free to reopen this issue if you think they are not related. Thanks.

[2022-08-31 05:00] hoisie commented on #7562
I have a fix for this, sending a PR.

[2022-08-31 05:21] #7562 closed

[2022-08-31 05:26] hoisie commented on #7269
I may have some spare cycles to work on this over the next few weeks.

TLDR is that constructor instrumentation is very rarely required, and often leads to problems because it is easy to misuse it (i.e. double-calling constructors), so we may be able to detect patterns like this, and just skip the constructor instrumentation if necessary.

A true fix would involve having much more sophisticated sp

[2022-08-31 06:30] #5877 closed

[2022-08-31 06:30] #7543 closed

[2022-08-31 06:50] hoisie commented on #7556
RE
[code]

The expected behavior is to print the current JVM time.

The bytecode instrumentation of `System.currentTimeMillis` is only designed to be done on the Android framework code, not test or app code. Test or app code is not designed to be instrumented. The instrumentation of System.currentTimeMillis to return the virtual time is extremely confusing. The goal was to intercept some of the sc

[2022-08-31 12:25] alixwar opened #7564 "Use of "androidx.compose.ui.text.TextRange" with variables causes IndexOutOfBoundsException: offset(X) should be less than line limit(Y) after updating to Compose 1.3.0-beta01 / Material3"
My tests were running fine before the update and are configured with the following annotations:

[code]

A minimum reproducer could potentially be a very time consuming task so for now here is the stack trace only:

[code]

### Robolectric & Android Version
Robolectric 4.8.1

### Link to a public git repo demonstrating the problem:

[2022-08-31 12:28] alixwar commented on #7564
The error message says:

And I think I know what 7 comes from...
That is the lengt of the string `id` that I pass to this code in the composable:

[code]

[2022-08-31 12:34] alixwar commented on #7564
My tests pass if I change this:

[code]

to:

[code]

[2022-08-31 12:46] alixwar opened #7565 "Use of "androidx.compose.ui.focus.FocusRequester" with variables causes IndexOutOfBoundsException: offset(X) should be less than line limit(Y) after updating to Compose 1.3.0-beta01 / Material3"
### Description
Similar to https://github.com/robolectric/robolectric/issues/7564

My tests were running fine before the update and are configured with the following annotations:

[code]

My test crashes when attempting to request focus:

[code]

Stack trace:
[code]

### Robolectric & Android Version
Robolectric 4.8.1

### Link to a public git repo demonstrating the problem:

[2022-08-31 14:24] agrieve commented on #7269
In our case, it turned out to be straight-forward to just not use the shadows, so we are no long hampered by this.

[2022-09-01 06:43] alixwar opened #7567 "androidx.compose.ui.test.performScrollTo doesn't work if composable uses nested scrolling"
### Description
I'm not sure if this should be reported to Google or if it should be reported here.

### Steps to Reproduce
I have a composable layout with buttons that are only accessible from tests if scrolling.
After I converted my layout to use (works fine when deployed on a phone):

[code]

to

[code]

then the tests no longer work:

[code]

### Robolectric & Android Version
- Robolectric 4.8

[2022-09-01 06:47] alixwar commented on #7567
Looks like this could be a red herring. Possibly my layout no longer needs scrolling in these cases because of UI adjustments... Closing this for now

[2022-09-01 06:47] #7567 closed

[2022-09-02 08:30] wijnanb opened #7572 "java.lang.NoClassDefFoundError: libcore/util/EmptyArray on api 31"
### Description

We upgraded compileSdkVersion from 29 to 31.
Now creating a ApplicationInfo object will fail the unit test with this error:

[code]

### Steps to Reproduce

set compileSdkVersion 31
`ApplicationInfo applicationInfo = new ApplicationInfo();`

### Robolectric & Android Version

robolectric 4.8.2

### Link to a public git repo demonstrating the problem:

[2022-09-02 13:35] hoisie commented on #7572
A demo app would be helpful to debug here. It appears you have some Android code running outside the context of a Robolectric sandbox. Is this a static member or a static function? Can you print the full stack trace?

[2022-09-03 00:22] hoisie commented on #7565
Although the stack trace is slightly different, the root cause is the same as #7461, which is that the native code in LineBreaker/StaticLayout is currently a no-op in Robolectric and is not populating the objects. I'll try to take a look at these.

[2022-09-03 00:22] hoisie commented on #7564
Although the stack trace is slightly different, the root cause is the same as #7461, which is that the native code in LineBreaker/StaticLayout is currently a no-op in Robolectric and is not populating the objects. I'll try to take a look at these.

[2022-09-03 00:24] hoisie commented on #7461
This seems to be coming up a lot. We need to improve the simulation of LineBreaker/StaticLayout. The real implementation is in native code so the goal should be to simulate it enough to prevent crashes. I can try to take a stab at this.

[2022-09-03 03:49] utzcoz commented on #7565
As @hoisie said, it is same as https://github.com/robolectric/robolectric/issues/7461, and I will duplicate this issue to move discussion and progress updates to https://github.com/robolectric/robolectric/issues/7461. Feel free to reopen it if you think they are not the same. Thanks.

[2022-09-03 03:49] #7565 closed

[2022-09-05 10:33] carstenhag opened #7577 "PackageManager ...Flags classes introduced in API33 causes IncompatibleClassChangeError at robolectric tests"
### Description

API 33 introduced `PackageManager.ApplicationInfoFlags`, see https://developer.android.com/reference/android/content/pm/PackageManager.ApplicationInfoFlags. Using this class causes robolectric tests to fail.
Same thing applies to ResolveInfoFlags and probably also the other flag classes introduced. There are 4 in total: PackageInfoFlags, ApplicationInfoFlags, ComponentInfoFlags, R

[2022-09-05 13:04] hoisie commented on #7577
Currently Robolectric supports a max API of 32 (S_V2). I am actively working on SDK 33 support. Until then you will not be able to use new SDK 33 APIs in Robolectric.

[2022-09-05 13:34] carstenhag commented on #7577
Oh sorry, I had not seen that in the readme :) No worries then.

[2022-09-06 17:19] sebastien-delaherche opened #7579 "Compose LazyColumn multiple item definitions not included in compose tree"
### Description
Trying to test a LazyColumn with differents item definitions result in a failing test because only first item definition (Header) is included in compose tree, the items list is not included. Checked with `printLog`.

### Steps to Reproduce
[code]

### Robolectric & Android Version
Robolectric: 4.8.2
Android 12

[2022-09-06 18:00] sebastien-delaherche commented on #7579
nvm, dpi issue.
Fixed with     @Config(qualifiers = "xxhdpi")

[2022-09-06 18:00] #7579 closed

[2022-09-07 03:32] ZacSweers opened #7581 "Support AppComponentFactory or ignore BroadcastReceivers with custom constructors"
### Description

When using Android 28+'s `AppComponentFactory`, it becomes possible to constructor-inject `BroadcastReceiver` instance. However, Robolectric seems to assume that these must all have empty constructors and tries to instantiate them all at test init.

I think Robolectric should ignore these or offer a way to handle them.

### Steps to Reproduce

Add a custom receiver with a non-empt

[2022-09-07 03:40] ZacSweers commented on #7581
Note that trying to set `@Config(manifest = Config.NONE)` doesn't appear to work around it either

[2022-09-07 10:54] utzcoz commented on #7095
Hi @ruoyangryan , you can update compileSdk to avoid these errors. If you can't bump your compileSdk, you can try convert these test codes to Kotlin. From https://github.com/robolectric/robolectric/pull/7100 experience, I found that Kotlin has a different class resolving mechanism than Java, and will not raise build error if you don't use it directly.

[2022-09-10 06:07] #7559 closed

[2022-09-10 13:45] utzcoz opened #7588 "EspressoTest#clickButton_after_swipeUp failed on Nexus One device with API 32"
### Description

[code]

### Steps to Reproduce

[code]

### Robolectric & Android Version

Latest Robolectric master

### Link to a public git repo demonstrating the problem:

Robolectric itself.

[2022-09-12 16:08] anthony-fresneau-kiplin opened #7590 "Support api 33"
### Description
Could you publish a new release with the support of sdk 33 please ?
### Steps to Reproduce
AN error is fired : Package targetSdkVersion=33 > maxSdkVersion=32
### Robolectric & Android Version
Roboloectric 4.8.2 et android sdk 33
### Link to a public git repo demonstrating the problem:

[2022-09-13 21:33] hoisie commented on #7590
I am working hard on this at the moment, commits are starting to flow for this (e.g. https://github.com/robolectric/robolectric/commit/7192358f4f7d16319121a248045fdc4deccd1c62), I am hoping for a 4.9-alpha-1 by the end of the week.

[2022-09-14 15:49] matthewfinn opened #7595 "Android API 31 Dependency issues"
### Description

Tests using RobolectricTestRunner fail to run when targeting Android API 31 fail to fetch dependencies from Maven

Each time the error returned is
[code]

### Steps to Reproduce

Run any test that uses RobolectricTestRunner test in an Android application

### Robolectric & Android Version

Android Version 12
Robolectric version 4.8.2

### Link to a public git repo demonstrating th

[2022-09-15 06:25] hoisie commented on #7595
If you are seeing this error it means your Robolectric process is configured to use a proxy server for some reason (i.e. setting `http.proxyHost`). If this is the case it is not really possible for us to debug your HTTP proxy settings. I would ensure that the proxy host and port are valid.

[2022-09-15 06:25] #7595 closed

[2022-09-15 06:27] hoisie commented on #7595
I would recommend taking a glance at https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html to determine which environment variables may be set.

[2022-09-16 10:33] neworld commented on #7455
Sorry for interrupting you, but AFAIK this was fixed in #7574. When could we expect this to be released? It is a real blocker of upgrading many things, like a dagger.

[2022-09-16 13:55] utzcoz commented on #7588
I found following error message:

[code]

[2022-09-16 14:35] #7383 closed

[2022-09-16 19:26] #7590 closed

[2022-09-17 00:40] liutikas opened #7611 "Stop logging resources.arsc in APK `.../android-all-instrumented-13-robolectric-....jar` is compressed."
### Description

When running tests using robolectric we get seemingly no-op warnings:

[code]

### Steps to Reproduce
Checkout androidx project, run `./gradlew testDebugUnitTest`

### Robolectric & Android Version
4.9-alpha-1

### Link to a public git repo demonstrating the problem:
https://cs.android.com/androidx/platform/frameworks/support

[2022-09-17 02:27] utzcoz commented on #5772
Hi @ganadist , thanks for your contributions. Robolectric 4.9 alpha 1 was released today, and it brings ConscryptMode supporting for many occasions, see https://github.com/robolectric/robolectric/releases/tag/robolectric-4.9-alpha-1. Feel free to reopen it if you needs other supporting of ConscryptMode in Robolectric. Thanks for your contributions.

[2022-09-17 02:27] #5772 closed

[2022-09-17 02:30] utzcoz commented on #3032
Hi @cutiko , @adizhol , https://github.com/robolectric/robolectric/releases/tag/robolectric-4.9-alpha-1 Robolectric 4.9 alpha 1 was released today, and it brings ConscryptMode supporting. Could you try it and check whether this problem still exists?

[2022-09-17 02:32] utzcoz opened #7612 "Update Robolectric's testing CI and documentation to use SDK 33"
SDK 33 supporting was landing in Robolectric, and we can update testing CI to test SDK 33 now. And we also need to update our documentation to declare that Robolectric supports SDK 33 now. cc @hoisie .

[2022-09-17 13:45] hoisie commented on #7577
@carstenhag 4.9-alpha-1 was just released with SDK 33 support. Can you give that a try and let us know if there are any issues?

[2022-09-17 13:47] hoisie commented on #7455
Hi @neworld 4.9-aloha-1 was just released with this fix. Could you give that a try?

Also, you always have the ability to use custom shadows to work around the issue until a fix is released.

[2022-09-17 16:00] #7612 closed

[2022-09-19 10:37] francescocervone commented on #7455
Hi @hoisie. I tried the 4.9-alpha-1 in our project and in the sample provided. The issue is fixed.

[2022-09-19 11:18] utzcoz commented on #7455
@francescocervone Thanks for confirmation. You can use current alpha release or later stable release to fix this issue. Feel free to reopen it if you have any questions.

[2022-09-19 11:18] #7455 closed

[2022-09-20 04:31] hoisie commented on #7456
We should probably get ahead of this issue before users start to update to JDK 17. Currently if you try to run Robolectric tests with JDK 17, many things will not work, such as ShadowParcelFileDescriptor due to the use of reflection to access java.io internals:
https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowParcelFileDescriptor.

[2022-09-20 04:41] utzcoz commented on #7456
@hoisie https://github.com/pinterest/ktlint/pull/1590/files is an example to add `--add-opens` for tests. We might add it, and then enable CI tests to catch compatibility problems.

[2022-09-20 04:45] hoisie commented on #7456
We can do it for Robolectric's test, but the issue is that end-users will hit this type of issue as well, and they will need to use add-opens, which can be confusing. Ideally AGP would add the necessary ones for Robolectric.

[2022-09-20 13:20] utzcoz opened #7620 "Bump ASM to 9.3 to support Opcodes.V19"
See https://asm.ow2.io/versions.html:

[code]

[2022-09-21 12:05] utzcoz opened #7625 "Migrate dependencies version definition of shadows/framework/build.gradle to gradle.properties"
See https://github.com/robolectric/robolectric/blob/91f11900ed3c3607197b2bc0d48b66d4c9358af4/shadows/framework/build.gradle#L18-L19.

[2022-09-21 14:37] #7625 closed

[2022-09-21 14:39] utzcoz commented on #7190
We might need to improve the priority of this task to get better JDK 17 supporting for Robolectric.

[2022-09-21 14:50] utzcoz commented on #7611
Fixed by https://github.com/robolectric/robolectric/pull/7621. Hi @liutikas , I think the next release of Robolectric will remove this log.

[2022-09-21 14:50] #7611 closed

[2022-09-21 15:27] hoisie commented on #7190
@utzcoz This has actually been fixed in AOSP in aosp/2146022:
https://cs.android.com/android/platform/superproject/+/master:external/robolectric-shadows/sandbox/src/main/java/org/robolectric/internal/bytecode/ProxyMaker.java

Do you want to copy and replace that file here?

[2022-09-21 15:44] utzcoz commented on #7190
@hoisie No problem. I will update it this weekend.

[2022-09-22 09:49] carstenhag commented on #7577
Sure. Still seems to be broken:

[code]

[2022-09-22 10:18] utzcoz commented on #7577
@carstenhag Could you provide a minimal reproduce app for this issue? And which JDK version do you use when encounter this problem?

[2022-09-22 14:19] hoisie commented on #7577
Is this a multi-sdk test? Are there tests running in multiple ask versions?

[2022-09-23 04:38] gavinweng commented on #7432
Google has officially confirmed that sharedTest pattern is no longer supported.

"
Unfortunately, the sharedTests/ solution is no longer supported, and we are looking into removing that article. We looked into using symlinks to point to a unified test source, but IntelliJ/Android Studio isn't set up for that and we were unable to officially recommend that approach. We are aware that the need to ha

[2022-09-23 05:22] hoisie commented on #7577
I can sort of repro it, but only if I willingly use an SDK 33 method in SDK < 33:

[code]

@carstenhag can you verify you are doing an `SDK >= TIRAMISU` check when ` ApplicationInfoFlags.of` is used?

[2022-09-23 05:38] hoisie commented on #7432
@gavinweng where was that comment from? link?

To me this is a signal that there is not a significant amount of developer demand to write the same test that runs on both emulators and Robolectric. I kind of assumed this to be the case.

In my experience, the intersection between APIs that work on both emulator and Robolectric tests is not very high, so people tend to keep them separate. For exampl

[2022-09-23 06:16] gavinweng commented on #7432
@hoisie This is from email we had with Google. No link and can't share.

[2022-09-23 06:48] hoisie commented on #7432
Ah interesting

I also dug up an old email thread with more technical details from a Studio developer:

So it seems like the amount of effort required to support the pattern is high.

[2022-09-24 14:14] #7190 closed

[2022-09-24 14:23] utzcoz commented on #7214
Fixed by https://github.com/robolectric/robolectric/pull/7427.

[2022-09-24 14:24] #7214 closed

[2022-09-24 21:17] colinrtwhite opened #7642 "Robolectric is incompatible with Java 19"
### Description
Robolectric tests fail when using a Java 19 JDK. Java 19 was released as stable on September 20th, 2022.

### Steps to Reproduce
Run `brew install zulu` and update your `JAVA_HOME` environment variable to the Java 19 JDK.

Create a basic Robolectric test that uses any Android framework class. E.g.:

[code]

When the test is run it fails with the following exception:

[code]

### Ro

[2022-09-25 03:17] utzcoz commented on #7642
@colinrtwhite I updated ASM to 9.3 to support Opcodes.V19 at https://github.com/robolectric/robolectric/issues/7620, and I will check local snapshot of latest master branch of Robolectric to check whether I can run simple tests with Robolectric and JDK 19.

[2022-09-25 06:49] utzcoz commented on #7642
Hi @colinrtwhite , I tested coil with latest Robolectric master branch, and I can run all coli tests with JDK 19 with following modification:

[code]

You can wait the next alpha/stable release of Robolectric for JDK 19 supporting. Hi @hoisie what about releasing another alpha release next week?

[2022-09-25 07:18] utzcoz commented on #7642
I sent a PR(https://github.com/coil-kt/coil/pull/1475) for coil to open these modules.

[2022-09-25 07:22] hoisie commented on #7642
Let's just release 4.9 next week, no more alphas. I just have 2 or 3 more changes I'd like to get in.

Also we should file a big against AGP to add those `add-opens` by default. It would be a massive amount of confusion to force everyone to add it.

[2022-09-25 07:22] hoisie commented on #7642
Thanks @utzcoz for the investigation.

[2022-09-25 19:23] colinrtwhite commented on #7642
@utzcoz Thanks for looking into this so quickly + the work-around! If the plan is to release 4.9 next week I'll wait for the release, else I can use the work-around. Thanks again!

[2022-09-25 22:43] hoisie commented on #7642
Filed https://issuetracker.google.com/issues/248929512 for AGP.

[2022-09-27 06:32] hoisie commented on #3023
I am still interested in finding a resolution to this, but I still have not been able to get a clean repro of the `VerifyError`. If anyone can put up a small sample app with repro instructions for the `VerifyError`, I'd be happy to take a look at it. If it's not reproducible any more it should be closed.

[2022-09-27 07:25] hoisie commented on #3023
OK I think I got a repro. It is using preinstrumented jars so it's not a problem with Robolectric's instrumentation. The AS code coverage tool is completely broken and throws the VerifyError. Jacoco at least doesn't crash but everything shows up as 0% coverage. At this point the best option may be to file a bug against IntelliJ and see if they can can take a look. I have no idea how the IntelliJ c

[2022-09-30 13:12] carstenhag commented on #7577
Some days ago I tried to setup a repro project, but it didn't work. Now with your help I figured out why :D

So yeah, we were using `@Config(sdk = [Build.VERSION_CODES.P])`, probably it was needed 2 years ago to avoid some bug or something.

Also I just realized that the method is only available in Tiramisu, but Google decided not to add annotations (RequiredApi) because who needs linter warnings,

[2022-09-30 13:12] #7577 closed

[2022-09-30 16:02] #7269 closed

[2022-09-30 17:21] hoisie commented on #7642
FYI 4.9 is released which should resolve this specific issue.

[2022-09-30 17:26] hoisie commented on #7380
@thecb4 where is this GoogleApi class from? What package/version?

[2022-09-30 22:09] colinrtwhite commented on #7642
Awesome, thanks for the quick turnaround! Closing this since it's now resolved.

[2022-09-30 22:09] #7642 closed

[2022-10-01 01:01] utzcoz commented on #7642
@colinrtwhite Looks like you don't need to add

[code]

when updating CI's JDK to 19.  I don't know find related commit from coil for it. Is that right?

[2022-10-01 01:59] colinrtwhite commented on #7642
@utzcoz Yep, looks like it doesn't need it. This commit (and all new commits on `main`) is built with the latest Zulu JDK 19 and Robolectric 4.9.

[2022-10-01 02:05] colinrtwhite commented on #7642
Interesting! Maybe it's related to the distribution? I run Zulu locally + on CI.

[2022-10-01 02:07] utzcoz commented on #7642
I also use Zulu locally. If someone encountered similar problem, he/she can pick similar add-opens for projects. It's great that coil doesn't need it.

[2022-10-01 03:36] utzcoz opened #7663 "Can't create and show TYPE_PRIVATE_PRESENTATION correctly"
### Description

We can't create and show `TYPE_PRIVATE_PRESENTATION` correctly with Robolectric.

### Steps to Reproduce

[code]

### Robolectric & Android Version

Latest Robolectric master.

### Link to a public git repo demonstrating the problem:

Robolectric itself

[2022-10-01 05:12] utzcoz commented on #7572
@wijnanb I don't reproduce this problem with normal testing that has `compileSdkVersion 31`. I saw parcel calling stack from your above mentioned stacktrace, did you encounter this problem when creating `ApplicationInfo` from parcel instead of creating directly? The `Parcelling.java` actually uses `ArrayMap` that might calls `EmptyArray`. But `EmptyArray` is packaged into Robolectric's android-all

[2022-10-01 10:05] vishnumj commented on #7055
I'm also facing the exact same issue, the test runs fine locally, but fails in GitHub Actions. But, @alwa's solution is working for me but in a different way, the test function is passing when I annotate, `@Config(sdk = [Build.VERSION_CODES.P])` or `@Config(sdk = [Build.VERSION_CODES.Q])`

🤷‍♂️

[2022-10-01 12:33] utzcoz opened #7665 "android.telephony.TelephonyCallback not found when running Robolectric 4.8+ with compileSdk less than 31"
### Description

If we run tests with Robolectric 4.8+, and tests use `TelephonyManager` and project's compileSdk is less than 31.

### Steps to Reproduce

See https://github.com/firebase/firebase-android-sdk/blob/40df7c8ce70a2e97ac33fa73c12f956ff325ad85/transport/transport-backend-cct/src/test/java/com/google/android/datatransport/cct/CctTransportBackendTest.java.

### Robolectric & Android Versi

[2022-10-01 12:38] utzcoz commented on #7665
@hoisie I think it is another compatibility problem when using latest Robolectric with low compile/targetSdkVersion.

[2022-10-01 14:12] utzcoz commented on #7665
I add a test for this problem at https://github.com/robolectric/robolectric/pull/7666.

[2022-10-02 00:29] charlesng opened #7669 "java.lang.IllegalStateException: You must start Activity first. Make sure you are using launchActivityForResult() to launch an Activity."
### Description

I got the below exception after i upgraded to robolectric 4.9. I believe it is related to this (https://github.com/robolectric/robolectric/blob/c56ad5f200b91bb4af402177cef989675238488a/robolectric/src/main/java/org/robolectric/android/internal/LocalActivityInvoker.java#L57-L61) . And I need upgrade the version of test library `androidx.test:core-ktx` in order to use the new method

[2022-10-02 23:16] hoisie commented on #7669
cc @brettchabot

[2022-10-03 04:28] utzcoz commented on #7456
There are two articles that we can refer to: https://blogs.oracle.com/javamagazine/post/a-peek-into-java-17-continuing-the-drive-to-encapsulate-the-java-runtime-internals https://blogs.oracle.com/javamagazine/post/the-unsafe-class-unsafe-at-any-speed. @hoisie We might need to migrate our reflection code to `Unsafe` likes cashapp and powermock, examples provided by Zac at https://github.com/robolec

[2022-10-03 07:48] hoisie commented on #7456
@utzcoz Unsafe.staticFieldOffset is going away also. I would like to remove most of the code in [ReflectionHelpers.makeFieldVeryAccessible](https://github.com/robolectric/robolectric/blob/master/shadowapi/src/main/java/org/robolectric/util/ReflectionHelpers.java#L453-L465https://bugs.openjdk.org/browse/JDK-8277863). Robolectric should not be in the business of removing `final` using hacks. People

[2022-10-03 08:39] masa-gclue opened #7670 "Error with new API of PackageManager added in api level33 at robolectric tests."
### Description
The following API in PackageManager cause a "not supporting" error.
https://developer.android.com/reference/android/content/pm/PackageManager#getReceiverInfo(android.content.ComponentName,%20android.content.pm.PackageManager.ComponentInfoFlags)

https://developer.android.com/reference/android/content/pm/PackageManager#queryBroadcastReceivers(android.content.Intent,%20android.conten

[2022-10-03 19:03] TonyTangAndroid opened #7676 "Security warning on https://robolectric.org"
This is what I see when I open the link from Chrome Android browser.

https://robolectric.org/blog/2022/09/06/Umesh-GSoC-on-ConscryptMode/

![Screenshot_20221003-120142.jpg](https://user-images.githubusercontent.com/8612724/193657758-f8e57c72-e050-4f59-9cd3-3b75561644e1.jpg)

[2022-10-03 20:17] hoisie commented on #7676
More context here:
https://github.com/robolectric/robolectric/issues/5358

Currently the robolectric.org domain name is owned by Pivotal/VMWare, so I am unable to make updates to it.

I have reached out to someone who works there, so hopefully we can do something about this. It may take some time though.

[2022-10-06 16:34] utzcoz opened #7689 "Migrate if statement with useLegacy() to assumeTrue/assumeFalse"
Using `assumeTrue/assumeFalse` to skip tests when using legacy resource/not using legacy resource is more clear than current `if (!useLegacy()) return` and `if (useLegacy()) return` or similar logic.

[2022-10-06 22:14] christianb commented on #6783
@hoisie Why was it colsed? Can you please explain the solution to this problem.

[2022-10-07 19:34] Gairick52 commented on #7689
@utzcoz i am new to open source can you suggest me some beginner friendly issues

[2022-10-09 01:24] charlesng commented on #7669
@brettchabot Thanks it works, I will use it until we have newer version for androidx test core-ktx library 🎉

[2022-10-09 01:30] charlesng opened #7695 "Exception in thread "ResizeFrame" java.lang.NullPointerException"
### Description

I got a strange exception error after I upgraded to robolectric 4.9 and test will fail if it is following a **specific ordering**  When the tests are running in different ordering, the test can pass. I am finding the pattern and ordering at the moment to make a reproducible test case

[code]

### Steps to Reproduce

Finding the pattern and will update in here

### Robolectric & An

[2022-10-10 02:17] utzcoz commented on #7689
@Gairick52 IMO, this issue is great for beginner. You can search and learn what `assumeTrue/assumeFlase` of junit do, and search Robolectric's code repository to find `if (!useLegacy()) return` and `if (useLegacy()) return` or similar patterns, and use `assumeTrue/assumeFalse` to refactor them. You can follow http://robolectric.org/building-robolectric/ to setup Robolectric's local development env

[2022-10-10 03:24] Gairick52 commented on #7689
@utzcoz thanks you very much for your guidance

[2022-10-10 10:18] utzcoz commented on #7432
I found @fknives achieved sharedTest with module at https://github.com/fknives/AndroidTest-ShowCase/pull/124. @azabost @gavinweng Would you like to give a try like this PR?

[2022-10-10 11:04] fknives commented on #7432
@utzcoz First of all, I am sorry didn't mean to pollute this issue with issues from my own repository. (I didn't know GitHub will link it here)

Secondly as you mentioned here already, the usage of shared-test-module suggestion comes from Google, because the IDEA no longer supports it: https://issuetracker.google.com/issues/232420188#comment19

Regarding the solution on my repo:
It is implemented

[2022-10-10 22:56] andrewwwang opened #7701 "ShadowShortcutManager: enable/disableShortcuts doesn't update the ShortcutInfo's enabled status"
### Description
I am writing a test to see if I successfully disable a pinned shortcut. When using the ShadowShortcutManager I notice that my pinned shortcuts are still enabled after I disable them. After debugging I realize that the ShortcutInfo doesn't update to reflect the disabled/enabled status of a pinned shortcut.

### Steps to Reproduce
1. Setup a java test, ShortcutManager, and ShadowShor

[2022-10-11 12:33] lsuski opened #7702 "OutOfMemoryError after upgrade to 4.9"
### Description

This issue did not occur with Robolectric 4.8.2.

After upgrading to 4.9 when I run all the tests after some time it fails with
[code]

### Steps to Reproduce

Run about 1000 tests

### Robolectric & Android Version

Robolectric 4.9
Android target sdk 33

[2022-10-11 12:53] hoisie commented on #7702
Can you add `-XX:+HeapDumpOnOutOfMemoryError` to your jvm flags and then rerun tests? We can then take a look at the hprof file with visual vm

[2022-10-11 14:38] lsuski commented on #7702
I've added this flag however I can't find hprof file anywhere even when I specify path to it.  I run tests using gradle testDebugUnitTest task via Android Studio

[2022-10-11 14:40] hoisie commented on #7676
I think this is fixed now. Can you check again?

[2022-10-11 15:07] utzcoz commented on #7676
@hoisie Cool. Firefox and Chrome don't show warnings any more.

[2022-10-11 15:08] lsuski commented on #7702
It looks like I  have to add
[code]
to build.gradle. However hprof file is quite big (>=300MB). Maybe should I run it via console

[2022-10-11 15:10] utzcoz commented on #5358
@LouisCAD You can check @hoisie comment at https://github.com/robolectric/robolectric/issues/7676#issuecomment-1274805813. Looks like Robolectric can use https without any warnings now.

[2022-10-11 17:07] hoisie commented on #7702
Nice, if you have a hprof, feel free to zip it up and share it with me in a google drive.

See https://github.com/robolectric/robolectric/issues/6872 for more details.

[2022-10-11 17:09] hoisie commented on #7702
Also what's the max heap size available for your tests? i.e. `-Xmx4G`? At Google we have max heap size 8GiB by default.

[2022-10-11 17:10] #7676 closed

[2022-10-11 18:02] lsuski commented on #7702
I'll share it tomorrow. I use default settings. Sometimes tests pass however it's strange that issue appeared for version 4.9 for the same settings. If there are some changes in robolectric which requires more memory then I will increase heap size. My first observation is that it could be related with tests that ran with different api specified in `@Config`. I have such tests and OOM is raised aft

[2022-10-12 05:00] hoisie commented on #7702
Do you have multi-sdk tests (e.g. `@Config(minSdk=...)`)with 4.9, since T is available, that could push it over the edge

[2022-10-12 06:54] lsuski commented on #7702
I have tests with `@Config(sdk = [24])` and other apis. I don't have tests with `@Config(sdk = [33])` as `33` is the default. I've sent hprof

[2022-10-12 16:14] nborodikhin opened #7707 "Mockito.spy and View.addOnLayoutChangeListener is broken in Robolectric 4.9"
### Description

A spied view does not register layout change listeners.

The  regression is introduced by https://github.com/robolectric/robolectric/commit/424ca08dd5b63ecb4dbd2be80f5ffdbd81861091:
[code]

### Steps to Reproduce

A sample unit test:
[code]

Listener registration is broken on a spied object - if spying is done after listener registration (line marked `2`, instead of `1`) then test

[2022-10-12 21:05] hoisie commented on #7702
Just some immediate though:

1) It looks like you experienced an OOM after only 563MB. My first suggestion would be to bump the max heap size up by a considerable margin, to at least 2 or 4 GiB. Like I mentioned before, Robolectric does consume a lot of memory, as it manages a potentially large collection of Android framework jars, each of which are ~150MB uncompressed. Because Robolectric process

[2022-10-13 00:23] hoisie commented on #7707
Unfortunately this is working as intended, and is related to https://github.com/mockito/mockito/issues/2552

Robolectric shadows cache the instances they are shadowing. This bypasses the instance that Mockito spies create. When a mockito spy is created, the original object is not modified. This means that if you call the original object, the spy will not be invoked. And Robolectric caches this ori

[2022-10-13 13:43] lsuski commented on #7702
It's multimodule library so it have almost no resources. AFAIK by default gradle has Xmx 1G.  If I use ` org.gradle.jvmargs=-Xmx2048m -XX:MaxPermSize=512m` it also fails

[2022-10-16 07:33] utzcoz commented on #5358
@LouisCAD I have checked settings, and `Enforce HTTPS` is opened. Feel free to reopen this issue if you have any questions. Thanks.

[2022-10-16 07:33] #5358 closed

[2022-10-16 07:39] utzcoz commented on #7670
Hi @masa-gclue , thanks for reporting this problem. I checked code, and these methods are not supported by Robolectric now. Would you like to help to support it?

[2022-10-16 07:48] utzcoz commented on #7695
Hi @charlesng , when you find the pattern, please attach a reproduce app for this problem. It might be a corner case.

[2022-10-16 15:19] githubgist123 commented on #6411
@le-kamba did you solve your problem?
I also want migrate this sample https://github.com/android/architecture-components-samples/tree/master/PersistenceMigrationsSample to local unit test but have problem.
Here is my code https://gist.github.com/githubgist123/3bab7013088c47858c496a8044be99f5
Here is error log https://gist.github.com/githubgist123/94be3e8da3b61d2a957916ff67afe2ad

[2022-10-16 18:41] githubgist123 commented on #6411
everything works fine in latest version(4.9). Thank you.

[2022-10-17 01:48] utzcoz commented on #6411
@githubgist123 Thanks for your feedback. @le-kamba Feel free to reopen this issue if you have other questions.

[2022-10-17 01:49] #6411 closed

[2022-10-17 11:45] wijnanb commented on #7572
I tried reproducing it with an empty Application, but there the problem was not found.
The issue was caused by the Robolectric ApplicationContext getting mixed up with a Mockito mocked Context.

Thanks for your replies!

[2022-10-17 16:47] nborodikhin commented on #7707
I see, thanks for the context.

Completely agree to this!

[2022-10-17 16:47] #7707 closed

[2022-10-18 07:42] iptton opened #7726 "Run twice launchFragmentInContainer in one test, view assertion works, but view actions not work"
### Steps to Reproduce

Run code below, `testOneFragment` works
But `testTwoFragment`, checking view displayed is ok but not work when click and verify action.

[code]

### Robolectric & Android Version

robolectric: 4.4

[2022-10-18 07:46] utzcoz commented on #7726
@iptton 4.4 is too old. Please use latest Robolectric 4.9 to check this issue again.

[2022-10-18 09:13] iptton commented on #7726
@utzcoz  works in 4.9, thx

[2022-10-18 09:14] #7726 closed

[2022-10-18 12:51] #7669 closed

[2022-10-18 19:24] dellisd opened #7730 "File I/O exceptions when testing non-application module"
### Description
Some File-related method calls fail during tests when running tests on a non-application module (e.g. a library or dynamic feature module).

Some stacktraces that we've seen:

Here Picasso can create a `StatFs` instance, but this method call fails.
[code]

This fails when calling `context.getDatabasePath(dbName).createNewFile()`, seemingly because the path that is returned (`{tmpdi

[2022-10-19 04:32] hoisie commented on #7730
Does this mean running the tests from Android Studio? Do the tests work when running from the command line with graddle?

[2022-10-19 04:36] hoisie commented on #5131
Closing this as 4.3 is obsolete now.

[2022-10-19 04:36] #5131 closed

[2022-10-19 04:38] hoisie commented on #7730
Looks like [StatFs#getBlockCountLong](https://developer.android.com/reference/android/os/StatFs#getBlockCountLong()) was added in API level 18, which means your tests are likely running in in SDK level 16 (you can try printing `RuntimeEnvironment.getApiLevel()`

How is the SDK level being specified in this test? Is it the `android:targetSdkVersion` in the manifest? I vaguely recall that some libra

[2022-10-19 04:39] hoisie commented on #7730
This is the issue I was thinking of:
https://github.com/robolectric/robolectric/issues/5624

[2022-10-22 09:41] utzcoz opened #7738 "Add a task to collect Robolectric's error-prone violation to xml or similar format report file"
It's not easy to find all current error-prone violations from compiling log, and it's better if we have a task to collect and generate a report file for these violations. There is a reference from CheckStyle: https://github.com/checkstyle/checkstyle/blob/master/.ci/error-prone-check.groovy.

[2022-10-22 15:48] #7588 closed

[2022-10-23 09:01] utzcoz commented on #6752
The robolectric and some Robolectric specific modules are pure Java module, and their tests don't have debug and release variant. And only integration tests module that behaves like an Android library/project have debug and release variant. So we can run `./gradlew testDebugUnitTest` for integration_tests module, but we can't run it for robolectric module. The size of test suite of integration_tes

[2022-10-23 09:01] #6752 closed

[2022-10-23 14:41] utzcoz opened #7744 "Experiment detekt for Robolectric's Kotlin code"
See https://github.com/detekt/detekt for detekt introduction, and it can be used to do static analysis for Kotlin code.

[2022-10-23 16:10] utzcoz commented on #3937
Looks like latest Robolectric can support Android Automotive testing as above comments said. Feel free to reopen this issue if you have other questions when using Robolectric for Android Automotive.

[2022-10-23 16:10] #3937 closed

[2022-10-23 16:22] utzcoz commented on #5673
i @pocmo, thanks for reporting this problem. Feel free to reopen this issue if you find reproduce pattern or you think we should add NPE protection for `ShadowPendingIntent` for this issue.

[2022-10-23 16:22] #5673 closed

[2022-10-23 16:24] utzcoz commented on #4529
Looks like `android_local_test` can run tests with JDK 9 and above JDK versions now, see https://github.com/bazelbuild/rules_jvm_external/tree/master/examples/android_local_test. Hi @hoisie , could you help to check whether internal b/123195372 was fixed already? Thanks.

[2022-10-23 16:30] #2857 closed

[2022-10-23 16:32] utzcoz commented on #2760
Hi @spiritinlife @abhaysood , Robolectric 3.1.4 is too old, please use latest Robolectric 4.9 to test it again. And feel free to reopen this issue if you find that this issue still exists. Thanks.

[2022-10-23 16:32] #2760 closed

[2022-10-23 16:40] utzcoz commented on #1988
Hi @AlexBonel , @JavierSP1209 , this problem is too old with a very old Robolectric version. Please trying to use latest Robolectric and  feel free to reopen it if you find this problem still exists.

[2022-10-23 16:40] #1988 closed

[2022-10-23 16:43] utzcoz commented on #1964
Hi @alixwar , thanks for reporting this issue, but it's too old with a very old Robolectric version. Feel free to reopen it if you find that this issue still exists. Thanks.

[2022-10-23 16:43] #1964 closed

[2022-10-23 16:44] utzcoz commented on #1809
Hi @erichaugh @kriegfrj , thanks for reporting this issue, but it's too old with a very old Robolectric version. Feel free to reopen it if you find that this issue still exists. Thanks.

[2022-10-23 16:44] #1809 closed

[2022-10-24 20:18] JorikFat commented on #3023
I fix it!
![image](https://user-images.githubusercontent.com/23609498/197620550-7d0f6e43-7db3-4afc-a946-715f313f33d6.png)
need to include coverage classes and coverage now working!

[2022-10-25 13:38] mattinger opened #7751 "ShadowSharedPreferences.java spawns many queued-work-looper threads"
### Description

We have some code that edits shared preferences, and uses the `apply` method and not `commit`.  As a result, when we run a robolectric test against this code, it's submitting to the QueuedWork class, which spawns a new thread.   This is ok for a single test, however, when you have a large multitude of tests editing shared preferences, QueuedWork is spawing a new thread every test

[2022-10-26 05:22] erhiteshkumar commented on #7581
I am also facing the same issue.

[2022-10-28 17:56] #4529 closed

[2022-10-31 16:55] arinmodi commented on #7439
@utzcoz, I opened a PR for this, please review,

Thanks.

[2022-11-02 06:27] hfkai commented on #3023
![image](https://user-images.githubusercontent.com/12794733/199413517-22beecc6-d650-4e8b-b5cb-ec8f13d5e9e2.png)
I have the same problem, can anyone help me? I have replaced the coverage runner with jacoco, but it still doesn't work at all. I also added -noverify to my vm option, and configured @Config(sdk = {Build.VERSION_CODES.P }) annotation, but still reported an error

[2022-11-02 06:30] hfkai commented on #3023
I meet this question，can you help me ？please

[2022-11-02 08:27] alixwar commented on #7055
This is me (@alwa) from my work account. This above is not solving the root cause, I'm afraid. I still see these errors.
Also I want to add that I still see the errors with the latest libraries (compose 1.3, AGP 7.3, Gradle 7.5)

[2022-11-02 11:23] alixwar commented on #7055
As I still have not found the root cause I want to at least share my thought so far.
I think the problem is coroutine-related. Maybe a memory leak building up delays somehow.

My general advice, at this current time, to avoid/circumvent this problem is to follow the guide on https://developer.android.com/kotlin/coroutines/coroutines-best-practices#inject-dispatchers and to avoid hard-coded dispatc

[2022-11-02 13:34] hoisie commented on #7751
Is the ShadowQueuedWork resetter not sufficient?

https://github.com/robolectric/robolectric/blob/master/shadows/framework/src/main/java/org/robolectric/shadows/ShadowQueuedWork.java#L22

Are these tests for O and above?

[2022-11-02 13:36] hoisie commented on #7730
Do you know why the tests are using legacy resources? It could be a bug in Android Studio or AGP.